extends ./../../base.pug

block css-files

block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/leads/leadsForm.js' )

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Lead Entries Form
                    div(class='card-body')
                        // begin::Form
                        form#createLeadEntriesForm(class='form')
                            div(class='row')
                                div(class='col-xl-1')
                                div(class='col-xl-8')
                                    div(class='my-5')  
                                        h3(class=' text-dark font-weight-bold mb-10') General
                                        
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Name
                                                span(class='text-danger')  *                                            
                                            div(class='col-6')
                                                input#leName(type='text' class='form-control' name='leName' placeholder='ex. Sai Vignesh')
                                        
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Title
                                                span(class='text-danger')  *                                            
                                            div(class='col-6')
                                                input#leTitle(type='text' class='form-control' name='leTitle' placeholder='')
                                                span(class='form-text text-muted') Give a suitable title
                                        
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Category ID
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#leCategoryId(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='leCategoryId' placeholder='ex. 5fa92064cff6f652644266de')
                                                    span(class='form-text text-muted') Should be as mentioned.
                                        
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Company 
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#leCompany(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='leCompany' placeholder='Companies in India')
                                                    span(class='form-text text-muted')
                                        
                                        div(class='form-group row mb-1')
                                            label(class='col-3 col-form-label form-control-label text-right' for='demoTextarea')
                                                | Description 
                                            div(class='col-9 ')
                                                textarea#leDescription(class='form-control' name='leDescription' rows='3')
                                                span(class='form-text text-muted')
                                              
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Email 
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#leEmail(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='leEmail' placeholder='ex. example@gmail.com')
                                                    span(class='form-text text-muted') 

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Website 
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#leWebsite(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='leWebsite' placeholder='ex. www.example.com ')
                                                    span(class='form-text text-muted') 
                                              
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Assigned To
                                            div(class='col-4')
                                                select#leAssignedTo(class='form-control selectpicker' data-size='7' data-live-search='true'  name='leAssignedTo')
                                                    option(value='' disabled='' selected='') 
                                                    option(value='U1') User 1
                                                    option(value='U2') User 2
                                                    option(value='U3') User 3
                                                span(class='form-text text-muted')
                                                    
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Source ID
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#leSourceId(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='leSourceId' placeholder='ex. 5fa92064cff6f652644266de')
                                                    span(class='form-text text-muted') 
                                        
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Last Contact
                                            div(class='col-4')
                                                #demoDateTime(class='input-group date' data-target-input='nearest')
                                                    input#leLastContact(type='text' class='form-control datetimepicker-input' name='leLastContact' placeholder='Select date & time' data-target='#demoDateTime')
                                                    div(class='input-group-append' data-target='#demoDateTime' data-toggle='datetimepicker')
                                                        span(class='input-group-text')
                                                            i(class='ki ki-calendar')
                                                    span(class='form-text text-muted') 
                                        
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right' for='demoExampleSelect2')
                                                | Priority
                                            div(class='col-4')
                                                select#lePriority(multiple='' class='form-control'  name='lePriority' )
                                                    option 1
                                                    option 2
                                                    option 3
                                                span(class='form-text text-muted')                                        
                                
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Date Converted
                                            div(class='col-4')
                                                #demoDateTime(class='input-group date' data-target-input='nearest')
                                                    input#leDateConverted(type='text' class='form-control datetimepicker-input' name='leDateConverted' placeholder='Select date & time' data-target='#demoDateTime')
                                                    div(class='input-group-append' data-target='#demoDateTime' data-toggle='datetimepicker')
                                                        span(class='input-group-text')
                                                            i(class='ki ki-calendar')
                                                    span(class='form-text text-muted')

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Lost
                                            div(class='col-4')
                                                span(class='switch switch-sm')
                                                    label
                                                        input#leLost(type='checkbox' checked='checked' name='leLost')
                                                        span
                                                span(class='form-text text-muted')         

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Last Lead Status
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#leLastLeadStatus(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='leLastLeadStatus' placeholder='  ')
                                                    span(class='form-text text-muted')  

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Lead Status Change
                                            div(class='col-4')
                                                #demoDateTime(class='input-group date' data-target-input='nearest')
                                                    input#leLastStatusChange(type='text' class='form-control datetimepicker-input' name='leLastStatusChange' placeholder='Select date & time' data-target='#demoDateTime')
                                                    div(class='input-group-append' data-target='#demoDateTime' data-toggle='datetimepicker')
                                                        span(class='input-group-text')
                                                            i(class='ki ki-calendar')
                                                    span(class='form-text text-muted')

                                        h3(class=' text-dark font-weight-bold mb-10') Address

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Address 1
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#leAdAddress1(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='leAdAddress1' placeholder='  ')
                                                    span(class='form-text text-muted')  

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Street
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#leAdStreet(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='leAdStreet' placeholder='  ')
                                                    span(class='form-text text-muted')  

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') City
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#leAdCity(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='leAdCity' placeholder='ex. Bangalore ')
                                                    span(class='form-text text-muted')  

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') State
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#leAdState(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='leAdState' placeholder='ex. Karnataka  ')
                                                    span(class='form-text text-muted')  

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Country
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#leAdCountry(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='leAdCountry' placeholder='ex. India  ')
                                                    span(class='form-text text-muted')              

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Postal Code
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#leAdPostalCode(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='leAdPostalCode' placeholder='ex. 600112')
                                                    span(class='form-text text-muted')                      

                                        h3(class=' text-dark font-weight-bold mb-10') Contact Information

                                        #kt_repeater_1
                                            #kt_repeater_1(class='form-group row')
                                                label(class='col-3 col-form-label form-control-label text-right') 
                                                div(data-repeater-list='', class='col-9')
                                                    div(data-repeater-item='', class='form-group row align-items-center')
                                                                                                                
                                                        div(class='form-group row')
                                                            labe Type 
                                                            div(class='col-md-7')
                                                                select#leCiType(class='form-control selectpicker' data-size='7' data-live-search='true'  name='leCiType')
                                                                    option(value='' disabled='' selected='') 
                                                                    option(value='T1') Type 1
                                                                    option(value='T2') Type 2
                                                                span(class='form-text text-muted')

                                                        div(class='form-group row')
                                                            label   Is Public
                                                            div(class='col-md-3')
                                                                span(class='switch switch-sm')
                                                                    label
                                                                        input#leCiIsPublic(type='checkbox' checked='checked' name='leCiIsPublic')
                                                                        span
                                                                span(class='form-text text-muted')
                                                        div(class='col-md-3')
                                                            a( data-repeater-delete='', class='btn btn-sm font-weight-bolder btn-light-danger')
                                                                i(class='la la-trash-o')
                                                                | Delete
                                                        
                                                        span(class='form-text text-muted')

                                            div(class='form-group row')
                                                label(class='col-3 col-form-label form-control-label text-right')
                                                div(class='col-4')
                                                    a( data-repeater-create='', class='btn btn-sm font-weight-bolder btn-light-primary')
                                                        i(class='la la-plus')
                                                        | Add

                                        

                                        h3(class=' text-dark font-weight-bold mb-10') Source 

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Name
                                            div(class='col-6')
                                                input#leSName(type='text' class='form-control' name='leSName' placeholder=' ex. Gokul Vignesh ')
                                                span(class='form-text text-muted')

                                        h3(class=' text-dark font-weight-bold mb-10') Lead Status 

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Name
                                            div(class='col-6')
                                                input#leLsName(type='text' class='form-control' name='leLsName' placeholder=' ex. Gokul Vignesh ')
                                                span(class='form-text text-muted')                                              

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Colour 
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#leLsColour(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='leLsColour' placeholder='ex. Red')
                                                    span(class='form-text text-muted')          

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Is Default
                                            div(class='col-4')
                                                span(class='switch switch-sm')
                                                    label
                                                        input#leLsIsDefault(type='checkbox' checked='checked' name='leLsIsDefault')
                                                        span
                                                span(class='form-text text-muted') 
                                        
                                        div(class='form-group row mb-1')
                                            label(class='col-3 col-form-label form-control-label text-right' for='demoTextarea')
                                                | Notes 
                                            div(class='col-9 ')
                                                textarea#leLsNotes(class='form-control' name='leLsNotes' rows='3')
                                                span(class='form-text text-muted')       
                            
                            div(class='card-footer')
                                div(class='row text-right')
                                    div(class='col-12 ml-lg-auto')
                                        button#createLeadEntriesFormSubmitButton(type='submit' class='btn btn-primary font-weight-bold mr-2') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
        // end::Entry                                                