html
	body
		// begin::Aside
		#kt_aside(class='aside aside-left aside-fixed d-flex flex-column flex-row-auto')
			// begin::Brand
			#kt_brand(class='brand flex-column-auto')
				// begin::Logo
				a(href='index.html' class='brand-logo')
					img(alt='Logo' src='media/logos/logo-light.png')
				// end::Logo
				// begin::Toggle
				button#kt_aside_toggle(class='brand-toggle btn btn-sm px-0')
					span(class='svg-icon svg-icon svg-icon-xl')
						// begin::Svg Icon | path:assets/media/svg/icons/Navigation/Angle-double-left.svg
						svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewbox='0 0 24 24' version='1.1')
							g(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
								polygon(points='0 0 24 0 24 24 0 24')
								path(d='M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z' fill='#000000' fill-rule='nonzero' transform='translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)')
								path(d='M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z' fill='#000000' fill-rule='nonzero' opacity='0.3' transform='translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)')
						// end::Svg Icon
				// end::Toolbar
			// end::Brand
			// begin::Aside Menu
			#kt_aside_menu_wrapper(class='aside-menu-wrapper flex-column-fluid')
				// begin::Menu Container
				#kt_aside_menu(class='aside-menu my-4' data-menu-vertical='1' data-menu-scroll='1' data-menu-dropdown-timeout='500')
					// begin::Menu Nav
					ul(class='menu-nav')
						li(class='menu-item menu-item-active' aria-haspopup='true')
							a(href='index.html' class='menu-link')
								i(class='menu-icon flaticon2-poll-symbol')
								span(class='menu-text') Dashboard
						li(class='menu-section')
							h4(class='menu-text') Custom
							i(class='menu-icon ki ki-bold-more-hor icon-md')
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-box-1')
								span(class='menu-text') Applications
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') Applications
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-line')
												span
											span(class='menu-text') Users
											span(class='menu-label')
												span(class='label label-rounded label-primary') 6
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/user/list-default.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') List - Default
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/user/list-datatable.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') List - Datatable
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/user/list-columns-1.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') List - Columns 1
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/user/list-columns-2.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') List - Columns 2
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/user/add-user.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Add User
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/user/edit-user.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Edit User
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-line')
												span
											span(class='menu-text') Profile
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
													a(href='javascript:;' class='menu-link menu-toggle')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Profile 1
														i(class='menu-arrow')
													div(class='menu-submenu')
														i(class='menu-arrow')
														ul(class='menu-subnav')
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/apps/profile/profile-1/overview.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') Overview
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/apps/profile/profile-1/personal-information.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') Personal Information
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/apps/profile/profile-1/account-information.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') Account Information
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/apps/profile/profile-1/change-password.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') Change Password
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/apps/profile/profile-1/email-settings.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') Email Settings
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/profile/profile-2.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Profile 2
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/profile/profile-3.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Profile 3
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/profile/profile-4.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Profile 4
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-line')
												span
											span(class='menu-text') Contacts
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/contacts/list-columns.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') List - Columns
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/contacts/list-datatable.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') List - Datatable
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/contacts/view-contact.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') View Contact
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/contacts/add-contact.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Add Contact
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/contacts/edit-contact.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Edit Contact
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-line')
												span
											span(class='menu-text') Projects
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/projects/list-columns-1.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') List - Columns 1
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/projects/list-columns-2.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') List - Columns 2
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/projects/list-columns-3.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') List - Columns 3
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/projects/list-columns-4.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') List - Columns 4
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/projects/list-datatable.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') List - Datatable
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/projects/view-project.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') View Project
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/projects/add-project.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Add Project
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/projects/edit-project.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Edit Project
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-line')
												span
											span(class='menu-text') Support Center
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/support-center/home-1.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Home 1
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/support-center/home-2.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Home 2
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/support-center/faq-1.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') FAQ 1
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/support-center/faq-2.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') FAQ 2
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/support-center/faq-3.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') FAQ 3
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/support-center/feedback.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Feedback
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/support-center/license.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') License
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-line')
												span
											span(class='menu-text') Chat
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/chat/private.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Private
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/chat/group.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Group
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/chat/popup.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Popup
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-line')
												span
											span(class='menu-text') Todo
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/todo/tasks.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Tasks
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/todo/docs.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Docs
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/todo/files.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Files
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-line')
												span
											span(class='menu-text') Education
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
													a(href='javascript:;' class='menu-link menu-toggle')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') School
														i(class='menu-arrow')
													div(class='menu-submenu')
														i(class='menu-arrow')
														ul(class='menu-subnav')
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/apps/education/school/dashboard.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') Dashboard
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/apps/education/school/statistics.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') Statistics
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/apps/education/school/calendar.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') Calendar
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/apps/education/school/library.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') Library
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/apps/education/school/teachers.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') Teachers
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/apps/education/school/students.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') Students
												li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
													a(href='javascript:;' class='menu-link menu-toggle')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Student
														i(class='menu-arrow')
													div(class='menu-submenu')
														i(class='menu-arrow')
														ul(class='menu-subnav')
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/apps/education/student/dashboard.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') Dashboard
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/apps/education/student/profile.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') Profile
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/apps/education/student/calendar.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') Calendar
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/apps/education/student/classmates.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') Classmates
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/education/class/dashboard.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Class
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-line')
												span
											span(class='menu-text') eCommerce
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/ecommerce/dashboard.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Dashboard 1
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/ecommerce/dashboard-2.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Dashboard 2
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/ecommerce/dashboard-3.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Dashboard 3
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/ecommerce/dashboard-4.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Dashboard 4
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/ecommerce/dashboard-5.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Dashboard 5
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/ecommerce/my-orders.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') My Orders
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/ecommerce/order-details.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Order Details
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/ecommerce/shopping-cart.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Shopping Cart
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/apps/ecommerce/checkout.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Checkout
									li(class='menu-item' aria-haspopup='true')
										a(href='custom/apps/inbox.html' class='menu-link')
											i(class='menu-bullet menu-bullet-line')
												span
											span(class='menu-text') Inbox
											span(class='menu-label')
												span(class='label label-danger label-inline') new
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-heart-rate-monitor')
								span(class='menu-text') Pages
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') Pages
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Login
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/login/login-1.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Login 1
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/login/login-2.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Login 2
												li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
													a(href='javascript:;' class='menu-link menu-toggle')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Login 3
														span(class='menu-label')
															span(class='label label-inline label-info') Wizard
														i(class='menu-arrow')
													div(class='menu-submenu')
														i(class='menu-arrow')
														ul(class='menu-subnav')
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/pages/login/login-3/signup.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-dot')
																		span
																	span(class='menu-text') Sign Up
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/pages/login/login-3/signin.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-dot')
																		span
																	span(class='menu-text') Sign In
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/pages/login/login-3/forgot.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-dot')
																		span
																	span(class='menu-text') Forgot Password
												li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
													a(href='javascript:;' class='menu-link menu-toggle')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Login 4
														span(class='menu-label')
															span(class='label label-inline label-info') Wizard
														i(class='menu-arrow')
													div(class='menu-submenu')
														i(class='menu-arrow')
														ul(class='menu-subnav')
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/pages/login/login-4/signup.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-dot')
																		span
																	span(class='menu-text') Sign Up
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/pages/login/login-4/signin.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-dot')
																		span
																	span(class='menu-text') Sign In
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/pages/login/login-4/forgot.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-dot')
																		span
																	span(class='menu-text') Forgot Password
												li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
													a(href='javascript:;' class='menu-link menu-toggle')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Classic
														i(class='menu-arrow')
													div(class='menu-submenu')
														i(class='menu-arrow')
														ul(class='menu-subnav')
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/pages/login/classic/login-1.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-dot')
																		span
																	span(class='menu-text') Login 1
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/pages/login/classic/login-2.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-dot')
																		span
																	span(class='menu-text') Login 2
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/pages/login/classic/login-3.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-dot')
																		span
																	span(class='menu-text') Login 3
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/pages/login/classic/login-4.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-dot')
																		span
																	span(class='menu-text') Login 4
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/pages/login/classic/login-5.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-dot')
																		span
																	span(class='menu-text') Login 5
															li(class='menu-item' aria-haspopup='true')
																a(href='custom/pages/login/classic/login-6.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-dot')
																		span
																	span(class='menu-text') Login 6
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Wizard
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/wizard/wizard-1.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Wizard 1
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/wizard/wizard-2.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Wizard 2
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/wizard/wizard-3.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Wizard 3
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/wizard/wizard-4.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Wizard 4
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/wizard/wizard-5.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Wizard 5
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/wizard/wizard-6.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Wizard 6
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Pricing Tables
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/pricing/pricing-1.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Pricing Tables 1
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/pricing/pricing-2.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Pricing Tables 2
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/pricing/pricing-3.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Pricing Tables 3
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/pricing/pricing-4.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Pricing Tables 4
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Invoices
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/invoices/invoice-1.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Invoice 1
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/invoices/invoice-2.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Invoice 2
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/invoices/invoice-3.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Invoice 3
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/invoices/invoice-4.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Invoice 4
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/invoices/invoice-5.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Invoice 5
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/invoices/invoice-6.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Invoice 6
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Error
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/error/error-1.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Error 1
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/error/error-2.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Error 2
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/error/error-3.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Error 3
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/error/error-4.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Error 4
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/error/error-5.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Error 5
												li(class='menu-item' aria-haspopup='true')
													a(href='custom/pages/error/error-6.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Error 6
						li(class='menu-section')
							h4(class='menu-text') Layout
							i(class='menu-icon ki ki-bold-more-hor icon-md')
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-image-file')
								span(class='menu-text') Themes
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') Themes
									li(class='menu-item' aria-haspopup='true')
										a(href='layout/themes/aside-light.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Light Aside
									li(class='menu-item' aria-haspopup='true')
										a(href='layout/themes/header-dark.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Dark Header
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-layers')
								span(class='menu-text') Subheaders
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') Subheaders
									li(class='menu-item' aria-haspopup='true')
										a(href='layout/subheader/toolbar.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Toolbar Nav
									li(class='menu-item' aria-haspopup='true')
										a(href='layout/subheader/actions.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Actions Buttons
									li(class='menu-item' aria-haspopup='true')
										a(href='layout/subheader/tabbed.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Tabbed Nav
									li(class='menu-item' aria-haspopup='true')
										a(href='layout/subheader/classic.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Classic
									li(class='menu-item' aria-haspopup='true')
										a(href='layout/subheader/none.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') None
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-box-1')
								span(class='menu-text') General
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') General
									li(class='menu-item' aria-haspopup='true')
										a(href='layout/general/fluid-content.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Fluid Content
									li(class='menu-item' aria-haspopup='true')
										a(href='layout/general/minimized-aside.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Minimized Aside
									li(class='menu-item' aria-haspopup='true')
										a(href='layout/general/no-aside.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') No Aside
									li(class='menu-item' aria-haspopup='true')
										a(href='layout/general/empty-page.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Empty Page
									li(class='menu-item' aria-haspopup='true')
										a(href='layout/general/fixed-footer.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Fixed Footer
									li(class='menu-item' aria-haspopup='true')
										a(href='layout/general/no-header-menu.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') No Header Menu
						li(class='menu-item' aria-haspopup='true')
							a(target='_blank' href='https://preview.keenthemes.com/metronic/demo1/builder.html' class='menu-link')
								i(class='menu-icon flaticon2-settings')
								span(class='menu-text') Builder
						li(class='menu-section')
							h4(class='menu-text') CRUD
							i(class='menu-icon ki ki-bold-more-hor icon-md')
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-website')
								span(class='menu-text') Forms
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') Forms
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Form Controls
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/controls/base.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Base Inputs
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/controls/input-group.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Input Groups
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/controls/checkbox.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Checkbox
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/controls/radio.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Radio
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/controls/switch.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Switch
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/controls/option.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Mega Options
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Form Widgets
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/bootstrap-datetimepicker.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Datetimepicker
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/bootstrap-datepicker.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Datepicker
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/bootstrap-timepicker.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Timepicker
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/bootstrap-daterangepicker.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Daterangepicker
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/tagify.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Tagify
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/bootstrap-touchspin.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Touchspin
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/bootstrap-maxlength.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Maxlength
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/bootstrap-switch.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Switch
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/bootstrap-multipleselectsplitter.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Multiple Select Splitter
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/bootstrap-select.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Bootstrap Select
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/select2.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Select2
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/typeahead.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Typeahead
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/nouislider.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') noUiSlider
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/form-repeater.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Form Repeater
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/ion-range-slider.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Ion Range Slider
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/input-mask.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Input Masks
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/jquery-mask.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') jQuery Mask
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/autosize.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Autosize
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/clipboard.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Clipboard
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/widgets/recaptcha.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Google reCaptcha
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Form Text Editors
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/editors/tinymce.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') TinyMCE
												li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
													a(href='javascript:;' class='menu-link menu-toggle')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') CKEditor
														i(class='menu-arrow')
													div(class='menu-submenu')
														i(class='menu-arrow')
														ul(class='menu-subnav')
															li(class='menu-item' aria-haspopup='true')
																a(href='crud/forms/editors/ckeditor-classic.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') CKEditor Classic
															li(class='menu-item' aria-haspopup='true')
																a(href='crud/forms/editors/ckeditor-inline.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') CKEditor Inline
															li(class='menu-item' aria-haspopup='true')
																a(href='crud/forms/editors/ckeditor-balloon.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') CKEditor Balloon
															li(class='menu-item' aria-haspopup='true')
																a(href='crud/forms/editors/ckeditor-balloon-block.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') CKEditor Balloon Block
															li(class='menu-item' aria-haspopup='true')
																a(href='crud/forms/editors/ckeditor-document.html' class='menu-link')
																	i(class='menu-bullet menu-bullet-line')
																		span
																	span(class='menu-text') CKEditor Document
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/editors/quill.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Quill Text Editor
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/editors/summernote.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Summernote WYSIWYG
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/editors/bootstrap-markdown.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Markdown Editor
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Form Layouts
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/layouts/default-forms.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Default Forms
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/layouts/multi-column-forms.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Multi Column Forms
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/layouts/action-bars.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Basic Action Bars
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/layouts/sticky-action-bar.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Sticky Action Bar
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Form Validation
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/validation/states.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Validation States
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/validation/form-controls.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Form Controls
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/forms/validation/form-widgets.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Form Widgets
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-checking')
								span(class='menu-text') KTDatatable
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') KTDatatable
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Base
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/base/data-local.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Local Data
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/base/data-json.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') JSON Data
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/base/data-ajax.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Ajax Data
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/base/html-table.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') HTML Table
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/base/local-sort.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Local Sort
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/base/translation.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Translation
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Advanced
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/advanced/record-selection.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Record Selection
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/advanced/row-details.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Row Details
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/advanced/modal.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Modal Examples
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/advanced/column-rendering.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Column Rendering
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/advanced/column-width.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Column Width
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/advanced/vertical.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Vertical Scrolling
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Child Datatables
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/child/data-local.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Local Data
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/child/data-ajax.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Remote Data
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') API
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/api/methods.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') API Methods
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/ktdatatable/api/events.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Events
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-list-1')
								span(class='menu-text') Datatables.net
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') Datatables.net
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Basic
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/basic/basic.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Basic Tables
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/basic/scrollable.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Scrollable Tables
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/basic/headers.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Complex Headers
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/basic/paginations.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Pagination Options
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Advanced
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/advanced/column-rendering.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Column Rendering
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/advanced/multiple-controls.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Multiple Controls
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/advanced/column-visibility.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Column Visibility
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/advanced/row-callback.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Row Callback
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/advanced/row-grouping.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Row Grouping
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/advanced/footer-callback.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Footer Callback
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Data sources
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/data-sources/html.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') HTML
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/data-sources/javascript.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Javascript
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/data-sources/ajax-client-side.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Ajax Client-side
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/data-sources/ajax-server-side.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Ajax Server-side
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Search Options
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/search-options/column-search.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Column Search
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/search-options/advanced-search.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Advanced Search
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Extensions
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/extensions/buttons.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Buttons
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/extensions/colreorder.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') ColReorder
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/extensions/keytable.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') KeyTable
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/extensions/responsive.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Responsive
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/extensions/rowgroup.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') RowGroup
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/extensions/rowreorder.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') RowReorder
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/extensions/scroller.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Scroller
												li(class='menu-item' aria-haspopup='true')
													a(href='crud/datatables/extensions/select.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') Select
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon-upload')
								span(class='menu-text') File Upload
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item' aria-haspopup='true')
										a(href='crud/file-upload/image-input.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Image Input
									li(class='menu-item' aria-haspopup='true')
										a(href='crud/file-upload/dropzonejs.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') DropzoneJS
											span(class='menu-label')
												span(class='label label-danger label-inline') new
									li(class='menu-item' aria-haspopup='true')
										a(href='crud/file-upload/uppy.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Uppy
						li(class='menu-section')
							h4(class='menu-text') Features
							i(class='menu-icon ki ki-bold-more-hor icon-md')
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-layers')
								span(class='menu-text') Bootstrap
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') Bootstrap
									li(class='menu-item' aria-haspopup='true')
										a(href='features/bootstrap/typography.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Typography
									li(class='menu-item' aria-haspopup='true')
										a(href='features/bootstrap/buttons.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Buttons
									li(class='menu-item' aria-haspopup='true')
										a(href='features/bootstrap/button-group.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Button Group
									li(class='menu-item' aria-haspopup='true')
										a(href='features/bootstrap/dropdown.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Dropdown
									li(class='menu-item' aria-haspopup='true')
										a(href='features/bootstrap/navs.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Navs
									li(class='menu-item' aria-haspopup='true')
										a(href='features/bootstrap/tables.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Tables
									li(class='menu-item' aria-haspopup='true')
										a(href='features/bootstrap/progress.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Progress
									li(class='menu-item' aria-haspopup='true')
										a(href='features/bootstrap/modal.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Modal
									li(class='menu-item' aria-haspopup='true')
										a(href='features/bootstrap/alerts.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Alerts
									li(class='menu-item' aria-haspopup='true')
										a(href='features/bootstrap/popover.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Popover
									li(class='menu-item' aria-haspopup='true')
										a(href='features/bootstrap/tooltip.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Tooltip
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-box-1')
								span(class='menu-text') Custom
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') Custom
									li(class='menu-item' aria-haspopup='true')
										a(href='features/custom/utilities.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Utilities
									li(class='menu-item' aria-haspopup='true')
										a(href='features/custom/label.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Labels
									li(class='menu-item' aria-haspopup='true')
										a(href='features/custom/pulse.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Pulse
									li(class='menu-item' aria-haspopup='true')
										a(href='features/custom/line-tabs.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Line Tabs
									li(class='menu-item' aria-haspopup='true')
										a(href='features/custom/advance-navs.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Advance Navs
									li(class='menu-item' aria-haspopup='true')
										a(href='features/custom/timeline.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Timeline
									li(class='menu-item' aria-haspopup='true')
										a(href='features/custom/pagination.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Pagination
									li(class='menu-item' aria-haspopup='true')
										a(href='features/custom/symbol.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Symbol
									li(class='menu-item' aria-haspopup='true')
										a(href='features/custom/overlay.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Overlay
									li(class='menu-item' aria-haspopup='true')
										a(href='features/custom/spinners.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Spinners
									li(class='menu-item' aria-haspopup='true')
										a(href='features/custom/iconbox.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Iconbox
									li(class='menu-item' aria-haspopup='true')
										a(href='features/custom/callout.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Callout
									li(class='menu-item' aria-haspopup='true')
										a(href='features/custom/ribbons.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Ribbons
									li(class='menu-item' aria-haspopup='true')
										a(href='features/custom/accordions.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Accordions
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-rocket')
								span(class='menu-text') Cards
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') Cards
									li(class='menu-item' aria-haspopup='true')
										a(href='features/cards/general.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') General Cards
									li(class='menu-item' aria-haspopup='true')
										a(href='features/cards/stacked.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Stacked Cards
									li(class='menu-item' aria-haspopup='true')
										a(href='features/cards/tabbed.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Tabbed Cards
									li(class='menu-item' aria-haspopup='true')
										a(href='features/cards/draggable.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Draggable Cards
									li(class='menu-item' aria-haspopup='true')
										a(href='features/cards/tools.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Cards Tools
									li(class='menu-item' aria-haspopup='true')
										a(href='features/cards/sticky.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Sticky Cards
									li(class='menu-item' aria-haspopup='true')
										a(href='features/cards/stretched.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Stretched Cards
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-chart2')
								span(class='menu-text') Widgets
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') Widgets
									li(class='menu-item' aria-haspopup='true')
										a(href='features/widgets/lists.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Lists
									li(class='menu-item' aria-haspopup='true')
										a(href='features/widgets/stats.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Stats
									li(class='menu-item' aria-haspopup='true')
										a(href='features/widgets/charts.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Charts
									li(class='menu-item' aria-haspopup='true')
										a(href='features/widgets/mixed.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Mixed
									li(class='menu-item' aria-haspopup='true')
										a(href='features/widgets/tiles.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Tiles
									li(class='menu-item' aria-haspopup='true')
										a(href='features/widgets/engage.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Engage
									li(class='menu-item' aria-haspopup='true')
										a(href='features/widgets/base-tables.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Base Tables
									li(class='menu-item' aria-haspopup='true')
										a(href='features/widgets/advance-tables.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Advance Tables
									li(class='menu-item' aria-haspopup='true')
										a(href='features/widgets/feeds.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Feeds
									li(class='menu-item' aria-haspopup='true')
										a(href='features/widgets/nav-panels.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Nav Panels
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-shield')
								span(class='menu-text') Icons
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item' aria-haspopup='true')
										a(href='features/icons/svg.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') SVG Icons
									li(class='menu-item' aria-haspopup='true')
										a(href='features/icons/custom-icons.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Custom Icons
									li(class='menu-item' aria-haspopup='true')
										a(href='features/icons/flaticon.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Flaticon
									li(class='menu-item' aria-haspopup='true')
										a(href='features/icons/fontawesome5.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Fontawesome 5
									li(class='menu-item' aria-haspopup='true')
										a(href='features/icons/lineawesome.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Lineawesome
									li(class='menu-item' aria-haspopup='true')
										a(href='features/icons/socicons.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Socicons
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-calendar-1')
								span(class='menu-text') Calendar
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') Calendar
									li(class='menu-item' aria-haspopup='true')
										a(href='features/calendar/basic.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Basic Calendar
									li(class='menu-item' aria-haspopup='true')
										a(href='features/calendar/list-view.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') List Views
									li(class='menu-item' aria-haspopup='true')
										a(href='features/calendar/google.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Google Calendar
									li(class='menu-item' aria-haspopup='true')
										a(href='features/calendar/external-events.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') External Events
									li(class='menu-item' aria-haspopup='true')
										a(href='features/calendar/background-events.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Background Events
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-bar-chart')
								span(class='menu-text') Charts
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') Charts
									li(class='menu-item' aria-haspopup='true')
										a(href='features/charts/apexcharts.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Apexcharts
									li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
										a(href='javascript:;' class='menu-link menu-toggle')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') amCharts
											i(class='menu-arrow')
										div(class='menu-submenu')
											i(class='menu-arrow')
											ul(class='menu-subnav')
												li(class='menu-item' aria-haspopup='true')
													a(href='features/charts/amcharts/charts.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') amCharts Charts
												li(class='menu-item' aria-haspopup='true')
													a(href='features/charts/amcharts/stock-charts.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') amCharts Stock Charts
												li(class='menu-item' aria-haspopup='true')
													a(href='features/charts/amcharts/maps.html' class='menu-link')
														i(class='menu-bullet menu-bullet-dot')
															span
														span(class='menu-text') amCharts Maps
									li(class='menu-item' aria-haspopup='true')
										a(href='features/charts/flotcharts.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Flot Charts
									li(class='menu-item' aria-haspopup='true')
										a(href='features/charts/google-charts.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Google Charts
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-favourite')
								span(class='menu-text') Maps
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') Maps
									li(class='menu-item' aria-haspopup='true')
										a(href='features/maps/google-maps.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Google Maps
									li(class='menu-item' aria-haspopup='true')
										a(href='features/maps/leaflet.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Leaflet
									li(class='menu-item' aria-haspopup='true')
										a(href='features/maps/jqvmap.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') JQVMap
						li(class='menu-item menu-item-submenu' aria-haspopup='true' data-menu-toggle='hover')
							a(href='javascript:;' class='menu-link menu-toggle')
								i(class='menu-icon flaticon2-map')
								span(class='menu-text') Miscellaneous
								i(class='menu-arrow')
							div(class='menu-submenu')
								i(class='menu-arrow')
								ul(class='menu-subnav')
									li(class='menu-item menu-item-parent' aria-haspopup='true')
										span(class='menu-link')
											span(class='menu-text') Miscellaneous
									li(class='menu-item' aria-haspopup='true')
										a(href='features/miscellaneous/kanban-board.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Kanban Board
									li(class='menu-item' aria-haspopup='true')
										a(href='features/miscellaneous/sticky-panels.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Sticky Panels
									li(class='menu-item' aria-haspopup='true')
										a(href='features/miscellaneous/blockui.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Block UI
									li(class='menu-item' aria-haspopup='true')
										a(href='features/miscellaneous/perfect-scrollbar.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Perfect Scrollbar
									li(class='menu-item' aria-haspopup='true')
										a(href='features/miscellaneous/treeview.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Tree View
									li(class='menu-item' aria-haspopup='true')
										a(href='features/miscellaneous/bootstrap-notify.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Bootstrap Notify
									li(class='menu-item' aria-haspopup='true')
										a(href='features/miscellaneous/toastr.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Toastr
									li(class='menu-item' aria-haspopup='true')
										a(href='features/miscellaneous/sweetalert2.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') SweetAlert2
									li(class='menu-item' aria-haspopup='true')
										a(href='features/miscellaneous/dual-listbox.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Dual Listbox
									li(class='menu-item' aria-haspopup='true')
										a(href='features/miscellaneous/session-timeout.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Session Timeout
									li(class='menu-item' aria-haspopup='true')
										a(href='features/miscellaneous/idle-timer.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Idle Timer
									li(class='menu-item' aria-haspopup='true')
										a(href='features/miscellaneous/cropper.html' class='menu-link')
											i(class='menu-bullet menu-bullet-dot')
												span
											span(class='menu-text') Cropper
					// end::Menu Nav
				// end::Menu Container
			// end::Aside Menu
		// end::Aside
