html
	body
		// begin::Footer
		#kt_footer(class='footer bg-white py-4 d-flex flex-lg-column')
			// begin::Container
			div(class='container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between')
				// begin::Copyright
				div(class='text-dark order-2 order-md-1')
					span(class='text-muted font-weight-bold mr-2') 2020©
					a(href='http://labved.com' target='_blank' class='text-dark-75 text-hover-primary') Labved Technologies Pvt Ltd
				// end::Copyright
				// begin::Nav
				div(class='nav nav-dark')
					a(href='http://labved.com' target='_blank' class='nav-link pl-0 pr-5') About
					a(href='http://labved.com' target='_blank' class='nav-link pl-0 pr-5') Team
					a(href='http://labved.com' target='_blank' class='nav-link pl-0 pr-0') Contact
				// end::Nav
			// end::Container
		// end::Footer
