doctype html
html(lang='en')
	// begin::Head
	head
		base(href='../../../../')
		meta(charset='utf-8')
		title Metronic | Sign In
		meta(name='description' content='Singin page example')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		// begin::Fonts
		link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700')
		// end::Fonts
		// begin::Page Custom Styles(used by this page)
		link(href='/css/pages/login/login-3.css' rel='stylesheet' type='text/css')
		// end::Page Custom Styles
		// begin::Global Theme Styles(used by all pages)
		link(href='/plugins/global/plugins.bundle.css' rel='stylesheet' type='text/css')
		link(href='/plugins/custom/prismjs/prismjs.bundle.css' rel='stylesheet' type='text/css')
		link(href='/css/style.bundle.css' rel='stylesheet' type='text/css')
		// end::Global Theme Styles
		// begin::Layout Themes(used by all pages)
		link(href='/css/themes/layout/header/base/light.css' rel='stylesheet' type='text/css')
		link(href='/css/themes/layout/header/menu/light.css' rel='stylesheet' type='text/css')
		link(href='/css/themes/layout/brand/dark.css' rel='stylesheet' type='text/css')
		link(href='/css/themes/layout/aside/dark.css' rel='stylesheet' type='text/css')
		// end::Layout Themes
		link(rel='shortcut icon' href='/media/logos/favicon.ico')
	// end::Head
	// begin::Body
	body#kt_body(class='header-fixed header-mobile-fixed subheader-enabled subheader-fixed subheader-mobile-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading')
		main.main
			.login-form
			h2.heading-secondary.ma-bt-lg Log into your account
			form.form.form--login
				.form__group
				label.form__label(for='email') Email address
				input#email.form__input(type='email', placeholder='you@example.com', required)
				.form__group.ma-bt-md
				label.form__label(for='password') Password
				input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
				.form__group
				button.btn.btn--green Login
		// begin::Global Config(global config for global JS scripts)
		// end::Global Config

		// begin::Global Theme Bundle(used by all pages)
		script(src='/plugins/global/plugins.bundle.js')
		script(src='/plugins/custom/prismjs/prismjs.bundle.js')
		script(src='/js/scripts.bundle.js')
		// end::Global Theme Bundle

		// begin::Page Scripts(used by this page)
		//script(src='/js/pages/custom/login/login-3.js')
		script(src='js/login.js')
		// end::Page Scripts
	// end::Body
