extends ./../../base.pug

block css-files
    link(href='/css/pages/wizard/wizard-4.css' rel='stylesheet' type='text/css')

block js-files
    script(src='/js/KTAppSettings.js')
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/example/exampleFormControls.js')

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Charts  Form
                    div(class='card-body')
                        // begin::Form
                        form#form_charts(class='form' action='http://localhost:3000/api/v1/charts')
                            div(class='row')
                                div(class='col-xl-2')
                                div(class='col-xl-8')
                                    div(class='my-5')  
                                        h3(class=' text-dark font-weight-bold mb-10') General
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Name
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='name' placeholder='ex. Sai Vignesh')
                                        div(class='form-group row')
                                            label(class='col-form-label text-right col-lg-3 col-sm-12') State
                                            div(class='col-lg-4 col-md-9 col-sm-12')
                                                div(class='typeahead')
                                                    input#kt_typeahead_2(class='form-control' type='text' dir='ltr' placeholder='States of India')
                                                div(class='form-text text-muted')
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Owner Id
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='_ownerId' placeholder='ex. 5fa92064cff6f652644266de  ')
                            div(class='card-footer text-right')
                                div(class='row')
                                    div(class='col-lg-9 ml-lg-auto')
                                        button(type='submit' class='btn btn-primary font-weight-bold mr-2' name='submitButton') Validate
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
    // end::Entry
                                                
                         