//- begin::Main
include partials/_header-mobile.pug
div(class='d-flex flex-column flex-root')
	//- begin::Page
	div(class='d-flex flex-row flex-column-fluid page')
		include partials/_aside.pug
		//- begin::Wrapper
		#kt_wrapper(class='d-flex flex-column flex-row-fluid wrapper')
			include partials/_header.pug
			//- begin::Content
			include partials/_content.pug
			//- end::Content
			include partials/_footer.pug
		//- end::Wrapper
	//- end::Page
//- end::Main