extends ./../../base.pug

block css-files
   
block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/newsletter/newsletterForm.js')

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title') Newsletter Messages 
                    div(class='card-body')
                        // begin::Form
                        form#createNewsletterMessagesForm(class='form')
                            div(class='row')
                                div(class='col-md-1')
                                div(class='col-xl-6')
                                    div(class='my-5')
                                        
                                        //nmID
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Newsletter ID
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#nmID(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='nmID' placeholder='')
                                        
                                        // nmSubject
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Subject
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#nmSubject(type='text' class='form-control' name='nmSubject' placeholder='Enter Subject')

                                        // nmMessage
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Message
                                            div(class='col-9')
                                                div#nmMessage(class='summernote' name='nmMessage')
                                                span(class='form-text text-muted') Add message that you wish to send.                                
                                                                                        
                                        // nmEmail  
                                        div(class='form-group row')
                                            label(class=' col-3 col-form-label form-control-label text-right ') Recipient Email
                                            div(class='col-5')
                                                select#nmEmail(class='form-control selectpicker' multiple=''  data-live-search='true' name='nmEmail' )
                                                    option alexrider@gmail.com
                                                    option percyjackson@gmail.com
                                                    option jupiterjones@gmail.com
                                                span(class='form-text text-muted') Select Email                                   
                                        
                                        //nmSent
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Sent
                                            div(class='col-4')
                                                span(class='switch switch-sm')
                                                    label
                                                        input#nmSent(type='checkbox' checked='checked' name='nmSent')
                                                        span
                                        
                                        //nmVisited
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Visited
                                            div(class='col-4')
                                                span(class='switch switch-sm')
                                                    label
                                                        input#nmVisited(type='checkbox' checked='checked' name='nmVisited')
                                                        span  
                                        // nmLastVisited
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Last Visited
                                                span(class='text-danger') 
                                            div(class='col-4')
                                                input#nmLastVisited(type='text' class='form-control' name='nmLastVisited' placeholder='Select Date')
                            div(class='card-footer')
                                div(class='row text-right')
                                    div(class='col-12 ml-lg-auto')
                                        button#nmFormSubmitButton(type='submit' class='btn btn-primary font-weight-bold mr-2') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
        // end::Entry
