extends ./../../base.pug

block css-files
   
block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/newsletter/newsletterMessages.js')

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title') Newsletter Messages 
                    div(class='card-body')
                        // begin::Form
                        form#createnewsletterMessages(class='form')
                            div(class='row')
                                div(class='col-md-1')
                                div(class='col-xl-6')
                                    div(class='my-5')
                                        
                                        //nmID
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Newsletter ID
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#nmID(type='text' class='form-control' name='nmID' placeholder='Enter Subject')
                                        
                                        // nmSubject
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Subject
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#nmSubject(type='text' class='form-control' name='nmSubject' placeholder='Enter Subject')
                                        
                                        //messageEditor
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Message
                                            div(class='col-9')
                                                div#messageEditor(class='summernote' name='messageEditor')
                                                span(class='form-text text-muted') Add message that you wish to send.                                   
                                        
                                        // nmEmail
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Recipient Email
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#nmEmail(type='text' class='form-control' name='nmEmail' placeholder='draco@gmail.com')
                                        
                                        //nmSent
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Sent
                                            div(class='col-4')
                                                span(class='switch switch-sm')
                                                    label
                                                        input#nmSent(type='checkbox' checked='checked' name='nmSent')
                                                        span
                                        
                                        //nmVisited
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Visited
                                            div(class='col-4')
                                                span(class='switch switch-sm')
                                                    label
                                                        input#nmVisited(type='checkbox' checked='checked' name='nmVisited')
                                                        span

                                        //nmLastvisited        
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Last Visited
                                            div(class='col-4')
                                                div(class='input-group date')
                                                    input#nmLastvisited(type='text' class='form-control' readonly='' name='nmLastvisited ' placeholder='Select date')
                                                    div(class='input-group-append')
                                                        span(class='input-group-text')
                                                            i(class='la la-calendar-check-o')
                                                span(class='form-text text-muted')

                            div(class='card-footer')
                                div(class='row text-right')
                                    div(class='col-12 ml-lg-auto')
                                        button#newsletterMessagesFormSubmit(type='submit' class='btn btn-primary font-weight-bold mr-2') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
        // end::Entry
