extends ./../../base.pug

block css-files
    link(href='/css/pages/wizard/wizard-4.css' rel='stylesheet' type='text/css')

block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/example/exampleFormControls.js')

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Example Form
                    div(class='card-body')
                        // begin::Form
                        form#kt_form_1(class='form' action='http://localhost:3000/api/v1/example')
                            div(class='row')
                                div(class='col-xl-2')
                                div(class='col-xl-8')
                                    div(class='my-5')
                                        h3(class=' text-dark font-weight-bold mb-10') Section1
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Name
                                                span(class='text-danger')  *
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='name' placeholder='Enter your name')
                                                span(class='form-text text-muted') We'll never share your email with anyone else.
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Email
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='email' placeholder='Enter your email')
                                                span(class='form-text text-muted') We'll never share your email with anyone else.
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Mobile No
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='mobNo' placeholder='Enter your Mobile No')
                                                span(class='form-text text-muted') We'll never share your email with anyone else.
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Mobile No
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='mobNo' placeholder='Enter your Mobile No')
                                                span(class='form-text text-muted') We'll never share your email with anyone else.
                                        h3(class=' text-dark font-weight-bold mb-10') In Line Object
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Name
                                                span(class='text-danger')  *
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='inLineObject-name' placeholder='Enter your name')
                                                span(class='form-text text-muted') We'll never share your email with anyone else.
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Email
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='inLineObject-email' placeholder='Enter your email')
                                                span(class='form-text text-muted') We'll never share your email with anyone else.
                                        h3(class=' text-dark font-weight-bold mb-10') Ext Reference Line Object
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Name
                                                span(class='text-danger')  *
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='extRefObject-name' placeholder='Enter your name')
                                                span(class='form-text text-muted') We'll never share your email with anyone else.
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Email
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='extRefObject-email' placeholder='Enter your email')
                                                span(class='form-text text-muted') We'll never share your email with anyone else.
                                        h3(class=' text-dark font-weight-bold mb-10') Array of Object
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Name
                                                span(class='text-danger')  *
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='arrayObject-name' placeholder='Enter your name')
                                                span(class='form-text text-muted') We'll never share your email with anyone else.
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Email
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='arrayObject-email' placeholder='Enter your email')
                                                span(class='form-text text-muted') We'll never share your email with anyone else.
                                         
                            div(class='card-footer text-right')
                                div(class='row')
                                    div(class='col-lg-9 ml-lg-auto')
                                        button#submitButton(type='submit' class='btn btn-primary font-weight-bold mr-2') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
    // end::Entry



