extends ./../../index.pug

block css-files
    link(href='/css/pages/wizard/wizard-4.css' rel='stylesheet' type='text/css')

block js-files
    script(src='/js/pages/custom/user/add-user.js')

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug