extends ./../../base.pug

block css-files

block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/example/FormControls.js' )
    
    //script(src='/plugins/global/recaptcha/api.js')
    // script(src='/js/pages/crud/forms/widgets/tagify.js')


block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Example Form
                    div(class='card-body')
                        // begin::Form
                        form#demoForm(class='form')
                            div(class='row')
                                div(class='col-md-1')
                                div(class='col-xl-8')
                                    div(class='my-5')

                                        h3(class=' text-dark font-weight-bold mb-10') Textbox
                                        // text
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label ') Text
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#demoText(type='text' class='form-control' name='demoText' placeholder='Enter your email')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   
                                        // password
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Password
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#demoPassword(type='text' class='form-control' name='demoPassword' placeholder='password')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   
                                        // Text Area
                                        div(class='form-group row mb-1')
                                            label(class='col-3' for='demoTextarea')
                                                | Textarea 
                                                span(class='text-danger') *
                                            div(class='col-9 ')
                                                textarea#demoTextarea(class='form-control' name='demoTextarea' rows='3')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   

                                        div(class='separator separator-dashed my-10')
                                        h3(class=' text-dark font-weight-bold mb-10') TypeAhead

                                        // Typeahead : Basic Demo
                                        div(class='form-group row')
                                            label(class='col-3') Basic Demo
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#demoTypeaheadBasic(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='demoTypeaheadBasic' placeholder='States of USA')
                                                    span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                        // Typeahead : Remote Data (Suggestion Engine)
                                        div(class='form-group row')
                                            label(class='  col-3') Typeahead Remote Data (Suggestion Engine)
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#demoTypeaheadRemote(class='form-control' type='text' dir='ltr' name='demoTypeaheadRemote' placeholder='States of USA')
                                                    span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   

                                        // Typeahead : Prefetch Data
                                        div(class='form-group row')
                                            label(class='  col-3') Typeahead Prefetch Data
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#demoTypeaheadPrefetch(class='form-control' type='text' dir='ltr' name='demoTypeaheadPrefetch' placeholder='Countries')
                                                    span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   
                                        // Typeahead : Custom Templates 
                                        div(class='form-group row')
                                            label(class='  col-3') Custom Templates
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#demoTypeaheadCustomTemplate(class='form-control' type='text' dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>" name='demoTypeaheadCustomTemplate' placeholder='Oscar winners')
                                                    span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   
                                        // Typeahead : Multiple Datasets 
                                        div(class='form-group row')
                                            label(class='  col-3') Multiple Datasets
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#demoTypeaheadMultipleDatasets(class='form-control' type='text' dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>"  name='demoTypeaheadMultipleDatasets' placeholder='Select an option')
                                                    span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   

                                        div(class='separator separator-dashed my-10')
                                        h3(class=' text-dark font-weight-bold mb-10') Lists

                                        // Dropdown List : Single Select1 
                                        div(class='form-group row')
                                            label(class=' col-3 form-control-label ') Single Select1 w search
                                            div(class='col-4')
                                                select#demoSelectSingle(class='form-control selectpicker' data-size='7' data-live-search='true'  name='demoSelectSingle' )
                                                    option(value='') Select
                                                    option(value='AF') Afghanistan
                                                    option(value='AX') Åland Islands
                                                    option(value='AL') Albania
                                                    option(value='DZ') Algeria
                                                    option(value='AS') American Samoa
                                                    option(value='AD') Andorra
                                                    option(value='AO') Angola
                                                    option(value='AI') Anguilla
                                                    option(value='AQ') Antarctica
                                                    option(value='AG') Antigua and Barbuda
                                                    option(value='AR') Argentina
                                                    option(value='AM') Armenia
                                                    option(value='AW') Aruba
                                                    option(value='AU') Australia
                                                    option(value='AT') Austria
                                                    option(value='AZ') Azerbaijan
                                                    option(value='BS') Bahamas
                                                    option(value='BH') Bahrain
                                                    option(value='BD') Bangladesh
                                                    option(value='BB') Barbados
                                                    option(value='BY') Belarus
                                                    option(value='BE') Belgium
                                                    option(value='BZ') Belize
                                                    option(value='BJ') Benin
                                                    option(value='BM') Bermuda
                                                    option(value='BT') Bhutan
                                                    option(value='BO') Bolivia, Plurinational State of
                                                    option(value='BQ') Bonaire, Sint Eustatius and Saba
                                                    option(value='BA') Bosnia and Herzegovina
                                                    option(value='BW') Botswana
                                                    option(value='BV') Bouvet Island
                                                    option(value='BR') Brazil
                                                    option(value='IO') British Indian Ocean Territory
                                                    option(value='BN') Brunei Darussalam
                                                    option(value='BG') Bulgaria
                                                    option(value='BF') Burkina Faso
                                                    option(value='BI') Burundi
                                                    option(value='KH') Cambodia
                                                    option(value='CM') Cameroon
                                                    option(value='CA') Canada
                                                    option(value='CV') Cape Verde
                                                    option(value='KY') Cayman Islands
                                                    option(value='CF') Central African Republic
                                                    option(value='TD') Chad
                                                    option(value='CL') Chile
                                                    option(value='CN') China
                                                    option(value='CX') Christmas Island
                                                    option(value='CC') Cocos (Keeling) Islands
                                                    option(value='CO') Colombia
                                                    option(value='KM') Comoros
                                                    option(value='CG') Congo
                                                    option(value='CD') Congo, the Democratic Republic of the
                                                    option(value='CK') Cook Islands
                                                    option(value='CR') Costa Rica
                                                    option(value='CI') Côte d'Ivoire
                                                    option(value='HR') Croatia
                                                    option(value='CU') Cuba
                                                    option(value='CW') Curaçao
                                                    option(value='CY') Cyprus
                                                    option(value='CZ') Czech Republic
                                                    option(value='DK') Denmark
                                                    option(value='DJ') Djibouti
                                                    option(value='DM') Dominica
                                                    option(value='DO') Dominican Republic
                                                    option(value='EC') Ecuador
                                                    option(value='EG') Egypt
                                                    option(value='SV') El Salvador
                                                    option(value='GQ') Equatorial Guinea
                                                    option(value='ER') Eritrea
                                                    option(value='EE') Estonia
                                                    option(value='ET') Ethiopia
                                                    option(value='FK') Falkland Islands (Malvinas)
                                                    option(value='FO') Faroe Islands
                                                    option(value='FJ') Fiji
                                                    option(value='FI') Finland
                                                    option(value='FR') France
                                                    option(value='GF') French Guiana
                                                    option(value='PF') French Polynesia
                                                    option(value='TF') French Southern Territories
                                                    option(value='GA') Gabon
                                                    option(value='GM') Gambia
                                                    option(value='GE') Georgia
                                                    option(value='DE') Germany
                                                    option(value='GH') Ghana
                                                    option(value='GI') Gibraltar
                                                    option(value='GR') Greece
                                                    option(value='GL') Greenland
                                                    option(value='GD') Grenada
                                                    option(value='GP') Guadeloupe
                                                    option(value='GU') Guam
                                                    option(value='GT') Guatemala
                                                    option(value='GG') Guernsey
                                                    option(value='GN') Guinea
                                                    option(value='GW') Guinea-Bissau
                                                    option(value='GY') Guyana
                                                    option(value='HT') Haiti
                                                    option(value='HM') Heard Island and McDonald Islands
                                                    option(value='VA') Holy See (Vatican City State)
                                                    option(value='HN') Honduras
                                                    option(value='HK') Hong Kong
                                                    option(value='HU') Hungary
                                                    option(value='IS') Iceland
                                                    option(value='IN') India
                                                    option(value='ID') Indonesia
                                                    option(value='IR') Iran, Islamic Republic of
                                                    option(value='IQ') Iraq
                                                    option(value='IE') Ireland
                                                    option(value='IM') Isle of Man
                                                    option(value='IL') Israel
                                                    option(value='IT') Italy
                                                    option(value='JM') Jamaica
                                                    option(value='JP') Japan
                                                    option(value='JE') Jersey
                                                    option(value='JO') Jordan
                                                    option(value='KZ') Kazakhstan
                                                    option(value='KE') Kenya
                                                    option(value='KI') Kiribati
                                                    option(value='KP') Korea, Democratic People's Republic of
                                                    option(value='KR') Korea, Republic of
                                                    option(value='KW') Kuwait
                                                    option(value='KG') Kyrgyzstan
                                                    option(value='LA') Lao People's Democratic Republic
                                                    option(value='LV') Latvia
                                                    option(value='LB') Lebanon
                                                    option(value='LS') Lesotho
                                                    option(value='LR') Liberia
                                                    option(value='LY') Libya
                                                    option(value='LI') Liechtenstein
                                                    option(value='LT') Lithuania
                                                    option(value='LU') Luxembourg
                                                    option(value='MO') Macao
                                                    option(value='MK') Macedonia, the former Yugoslav Republic of
                                                    option(value='MG') Madagascar
                                                    option(value='MW') Malawi
                                                    option(value='MY') Malaysia
                                                    option(value='MV') Maldives
                                                    option(value='ML') Mali
                                                    option(value='MT') Malta
                                                    option(value='MH') Marshall Islands
                                                    option(value='MQ') Martinique
                                                    option(value='MR') Mauritania
                                                    option(value='MU') Mauritius
                                                    option(value='YT') Mayotte
                                                    option(value='MX') Mexico
                                                    option(value='FM') Micronesia, Federated States of
                                                    option(value='MD') Moldova, Republic of
                                                    option(value='MC') Monaco
                                                    option(value='MN') Mongolia
                                                    option(value='ME') Montenegro
                                                    option(value='MS') Montserrat
                                                    option(value='MA') Morocco
                                                    option(value='MZ') Mozambique
                                                    option(value='MM') Myanmar
                                                    option(value='NA') Namibia
                                                    option(value='NR') Nauru
                                                    option(value='NP') Nepal
                                                    option(value='NL') Netherlands
                                                    option(value='NC') New Caledonia
                                                    option(value='NZ') New Zealand
                                                    option(value='NI') Nicaragua
                                                    option(value='NE') Niger
                                                    option(value='NG') Nigeria
                                                    option(value='NU') Niue
                                                    option(value='NF') Norfolk Island
                                                    option(value='MP') Northern Mariana Islands
                                                    option(value='NO') Norway
                                                    option(value='OM') Oman
                                                    option(value='PK') Pakistan
                                                    option(value='PW') Palau
                                                    option(value='PS') Palestinian Territory, Occupied
                                                    option(value='PA') Panama
                                                    option(value='PG') Papua New Guinea
                                                    option(value='PY') Paraguay
                                                    option(value='PE') Peru
                                                    option(value='PH') Philippines
                                                    option(value='PN') Pitcairn
                                                    option(value='PL') Poland
                                                    option(value='PT') Portugal
                                                    option(value='PR') Puerto Rico
                                                    option(value='QA') Qatar
                                                    option(value='RE') Réunion
                                                    option(value='RO') Romania
                                                    option(value='RU') Russian Federation
                                                    option(value='RW') Rwanda
                                                    option(value='BL') Saint Barthélemy
                                                    option(value='SH') Saint Helena, Ascension and Tristan da Cunha
                                                    option(value='KN') Saint Kitts and Nevis
                                                    option(value='LC') Saint Lucia
                                                    option(value='MF') Saint Martin (French part)
                                                    option(value='PM') Saint Pierre and Miquelon
                                                    option(value='VC') Saint Vincent and the Grenadines
                                                    option(value='WS') Samoa
                                                    option(value='SM') San Marino
                                                    option(value='ST') Sao Tome and Principe
                                                    option(value='SA') Saudi Arabia
                                                    option(value='SN') Senegal
                                                    option(value='RS') Serbia
                                                    option(value='SC') Seychelles
                                                    option(value='SL') Sierra Leone
                                                    option(value='SG') Singapore
                                                    option(value='SX') Sint Maarten (Dutch part)
                                                    option(value='SK') Slovakia
                                                    option(value='SI') Slovenia
                                                    option(value='SB') Solomon Islands
                                                    option(value='SO') Somalia
                                                    option(value='ZA') South Africa
                                                    option(value='GS') South Georgia and the South Sandwich Islands
                                                    option(value='SS') South Sudan
                                                    option(value='ES') Spain
                                                    option(value='LK') Sri Lanka
                                                    option(value='SD') Sudan
                                                    option(value='SR') Suriname
                                                    option(value='SJ') Svalbard and Jan Mayen
                                                    option(value='SZ') Swaziland
                                                    option(value='SE') Sweden
                                                    option(value='CH') Switzerland
                                                    option(value='SY') Syrian Arab Republic
                                                    option(value='TW') Taiwan, Province of China
                                                    option(value='TJ') Tajikistan
                                                    option(value='TZ') Tanzania, United Republic of
                                                    option(value='TH') Thailand
                                                    option(value='TL') Timor-Leste
                                                    option(value='TG') Togo
                                                    option(value='TK') Tokelau
                                                    option(value='TO') Tonga
                                                    option(value='TT') Trinidad and Tobago
                                                    option(value='TN') Tunisia
                                                    option(value='TR') Turkey
                                                    option(value='TM') Turkmenistan
                                                    option(value='TC') Turks and Caicos Islands
                                                    option(value='TV') Tuvalu
                                                    option(value='UG') Uganda
                                                    option(value='UA') Ukraine
                                                    option(value='AE') United Arab Emirates
                                                    option(value='GB') United Kingdom
                                                    option(value='US' selected='') United States
                                                    option(value='UM') United States Minor Outlying Islands
                                                    option(value='UY') Uruguay
                                                    option(value='UZ') Uzbekistan
                                                    option(value='VU') Vanuatu
                                                    option(value='VE') Venezuela, Bolivarian Republic of
                                                    option(value='VN') Viet Nam
                                                    option(value='VG') Virgin Islands, British
                                                    option(value='VI') Virgin Islands, U.S.
                                                    option(value='WF') Wallis and Futuna
                                                    option(value='EH') Western Sahara
                                                    option(value='YE') Yemen
                                                    option(value='ZM') Zambia
                                                    option(value='ZW') Zimbabwe                          
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   


                                        // Dropdown List : Multiple Select1
                                        div(class='form-group row')
                                            label(class=' col-3 form-control-label ') Multiple Select1 w search
                                            div(class='col-4')
                                                select#demoSelectMultiple(class='form-control selectpicker' multiple=''  data-live-search='true' name='selectdemoSelectMultiple' )
                                                    option Mustard
                                                    option Ketchup
                                                    option Relish
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   


                                        // Dropdown List : Single Select2 w Live Search
                                        div(class='form-group row')
                                            label(class='  col-3') Single Select2 w search
                                            div(class=' col-4')
                                                select#demoSelect2Single(class='form-control select2' name='demoSelect2Single')
                                                    option(value='AK') Alaska
                                                    option(value='HI') Hawaii
                                                    option(value='CA') California
                                                    option(value='NV') Nevada
                                                    option(value='OR') Oregon
                                                    option(value='WA') Washington
                                                    option(value='AZ') Arizona
                                                    option(value='CO') Colorado
                                                    option(value='ID') Idaho
                                                    option(value='MT') Montana
                                                    option(value='NE') Nebraska
                                                    option(value='NM') New Mexico
                                                    option(value='ND') North Dakota
                                                    option(value='UT') Utah
                                                    option(value='WY') Wyoming
                                                    option(value='AL') Alabama
                                                    option(value='AR') Arkansas
                                                    option(value='IL') Illinois
                                                    option(value='IA') Iowa
                                                    option(value='KS') Kansas
                                                    option(value='KY') Kentucky
                                                    option(value='LA') Louisiana
                                                    option(value='MN') Minnesota
                                                    option(value='MS') Mississippi
                                                    option(value='MO') Missouri
                                                    option(value='OK') Oklahoma
                                                    option(value='SD') South Dakota
                                                    option(value='TX') Texas
                                                    option(value='TN') Tennessee
                                                    option(value='WI') Wisconsin
                                                    option(value='CT') Connecticut
                                                    option(value='DE') Delaware
                                                    option(value='FL') Florida
                                                    option(value='GA') Georgia
                                                    option(value='IN') Indiana
                                                    option(value='ME') Maine
                                                    option(value='MD') Maryland
                                                    option(value='MA') Massachusetts
                                                    option(value='MI') Michigan
                                                    option(value='NH') New Hampshire
                                                    option(value='NJ') New Jersey
                                                    option(value='NY') New York
                                                    option(value='NC') North Carolina
                                                    option(value='OH') Ohio
                                                    option(value='PA') Pennsylvania
                                                    option(value='RI') Rhode Island
                                                    option(value='SC') South Carolina
                                                    option(value='VT') Vermont
                                                    option(value='VA') Virginia
                                                    option(value='WV') West Virginia
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   

                                        // Dropdown List : Multiple Select2 w Live Search
                                        div(class='form-group row')
                                            label(class='  col-3') Multiple Select2 w search
                                            div(class=' col-9')
                                                select#demoSelect2Multiple(class='form-control select2' name='demoSelect2Multiple' multiple='multiple')
                                                    optgroup(label='Alaskan/Hawaiian Time Zone')
                                                        option(value='AK' selected='') Alaska
                                                        option(value='HI') Hawaii
                                                    optgroup(label='Pacific Time Zone')
                                                        option(value='CA') California
                                                        option(value='NV' selected='') Nevada
                                                        option(value='OR') Oregon
                                                        option(value='WA') Washington
                                                    optgroup(label='Mountain Time Zone')
                                                        option(value='AZ') Arizona
                                                        option(value='CO') Colorado
                                                        option(value='ID') Idaho
                                                        option(value='MT' selected='') Montana
                                                        option(value='NE') Nebraska
                                                        option(value='NM') New Mexico
                                                        option(value='ND') North Dakota
                                                        option(value='UT') Utah
                                                        option(value='WY') Wyoming
                                                    optgroup(label='Central Time Zone')
                                                        option(value='AL') Alabama
                                                        option(value='AR') Arkansas
                                                        option(value='IL') Illinois
                                                        option(value='IA') Iowa
                                                        option(value='KS') Kansas
                                                        option(value='KY') Kentucky
                                                        option(value='LA') Louisiana
                                                        option(value='MN') Minnesota
                                                        option(value='MS') Mississippi
                                                        option(value='MO') Missouri
                                                        option(value='OK') Oklahoma
                                                        option(value='SD') South Dakota
                                                        option(value='TX') Texas
                                                        option(value='TN') Tennessee
                                                        option(value='WI') Wisconsin
                                                    optgroup(label='Eastern Time Zone')
                                                        option(value='CT') Connecticut
                                                        option(value='DE') Delaware
                                                        option(value='FL') Florida
                                                        option(value='GA') Georgia
                                                        option(value='IN') Indiana
                                                        option(value='ME') Maine
                                                        option(value='MD') Maryland
                                                        option(value='MA') Massachusetts
                                                        option(value='MI') Michigan
                                                        option(value='NH') New Hampshire
                                                        option(value='NJ') New Jersey
                                                        option(value='NY') New York
                                                        option(value='NC') North Carolina
                                                        option(value='OH') Ohio
                                                        option(value='PA') Pennsylvania
                                                        option(value='RI') Rhode Island
                                                        option(value='SC') South Carolina
                                                        option(value='VT') Vermont
                                                        option(value='VA') Virginia
                                                        option(value='WV') West Virginia
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   


                                        // Dropdown List : multiple box
                                        div(class='form-group row')
                                            label(class=' col-3 form-control-label ' for='exampleSelect2')
                                                | List Box - Multiple
                                                span(class='text-danger') *
                                            div(class='col-4')
                                                select#demoExampleSelect2(multiple='' class='form-control'  name='number' )
                                                    option 1
                                                    option 2
                                                    option 3
                                                    option 4
                                                    option 5
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   

                                        div(class='separator separator-dashed my-10')
                                        h3(class=' text-dark font-weight-bold mb-10') Numbers

                                        // Number : Number Controls Two Sides
                                        div(class='form-group row')
                                            label(class=' col-3 form-control-label ') Numbers Controls Either Side :
                                            div(class='col-4')
                                                input#demoNumberCtrlTwoSides(type='text' class='form-control' value='' name='demoNumberCtrlTwoSides' placeholder='Select time')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   

                                        // Number : Number Controls Same Sides
                                        div(class='form-group row')
                                            label(class=' col-3 form-control-label ') Numbers Controls Same Side :
                                            div(class='col-4')
                                                input#demoNumberCtrlSameSides(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='demoNumberCtrlSameSides' placeholder='40')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   
                                        
                                        // Number : Horizontal Slide
                                        div(class='form-group row mb-6')
                                            label(class=' col-3 form-control-label ') Horizontal Slider
                                            div(class='col-6 ')
                                                div(class='row align-items-center')
                                                    div(class='col-4')
                                                        input#demoNumberHSliderText(type='text' class='form-control' name='demoNumberHSliderText' placeholder='Quantity')
                                                    div(class='col-8')
                                                        #demoNumberHSlider(class='nouislider-drag-danger')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   
                                        // Number : Vertical Slide
                                        div(class='form-group row mb-6')
                                            label(class='  col-3') Vertical Slider
                                            div(class='col-6 ')
                                                div(class='row')
                                                    div(class='col-4')
                                                        input#demoNumberVSliderText(type='text' class='form-control' name='demoNumberVSliderText' placeholder='Quantity')
                                                    div(class='col-8')
                                                        #demoNumberVSlider
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   
                                        // Number : Currency Slide
                                        div(class='form-group row mb-6')
                                            label(class=' col-3 form-control-label ') Currency Formatting
                                            div(class='col-6 ')
                                                div(class='row align-items-center')
                                                    div(class='col-4')
                                                        input#demoNumberCurrencySliderText(type='text' class='form-control' name='demoNumberCurrencySliderText' placeholder='Currency')
                                                    div(class='col-8')
                                                        #demoNumberCurrencySlider(class='nouislider nouislider-handle-primary')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   
                                        // Number : Range Select Slide
                                        div(class='form-group row mb-6')
                                            label(class='  col-3') Range Select Slide
                                            div(class='col-8 ')
                                                div(class='row align-items-center')
                                                    div(class='col-3')
                                                        input#demoNumberRangeSelectSliderText1(type='text' class='form-control' name='demoNumberRangeSelectSliderText1' placeholder='Quantity')
                                                    div(class='col-3')
                                                        input#demoNumberRangeSelectSliderText2(type='text' class='form-control' name='demoNumberRangeSelectSliderText2'  placeholder='Quantity')
                                                    div(class='col-6')
                                                        #demoNumberRangeSelectSlider(class='nouislider')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   
                                        // Boolean
                                        div(class='form-group row')
                                            label(class=' col-3 form-control-label ') Default Switch
                                            div(class='col-4')
                                                span(class='switch switch-sm')
                                                    label
                                                        input#booleanswitch(type='checkbox' checked='checked' name='select')
                                                        span
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   



                                        div(class='separator separator-dashed my-10')
                                        h3(class=' text-dark font-weight-bold mb-10') Date And Clock                                        
                                            
                                        // Date & Time : Date and Time
                                        div(class='form-group row')
                                            label(class='  col-3') Date and Time
                                            div(class='col-4')
                                                #demoDateTime(class='input-group date' data-target-input='nearest')
                                                    input#demoDateTimeText(type='text' class='form-control datetimepicker-input' name='demoDateTimeText' placeholder='Select date & time' data-target='#demoDateTime')
                                                    div(class='input-group-append' data-target='#demoDateTime' data-toggle='datetimepicker')
                                                        span(class='input-group-text')
                                                            i(class='ki ki-calendar')
                                                    span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   

                                        // Date & Time : Date and Time Range Picker1
                                        div(class='form-group row')
                                            label(class='  col-3') Date and Time Range Picker1
                                            div(class='col-4')
                                                #demoDateTimeRangePicker1(class='input-group')
                                                    input#demoDateTimeRangePicker1Text(type='text' class='form-control' readonly=''  name='demoDateTimeRangePicker1Text' placeholder='Select date & time range')
                                                    div(class='input-group-append')
                                                        span(class='input-group-text')
                                                            i(class='la la-calendar-check-o')
                                                    span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   

                                        // Date & Time : Date and Time Range Linked Picker
                                        div(class='form-group row')
                                            label(class='  col-3') Date and Time Range Linked Picker
                                            div(class='col-8')
                                                div(class='row')
                                                    div(class='col')
                                                        #demoDateTimeLinkedPicker1(class='input-group date' data-target-input='nearest')
                                                            input#demoDateTimeLinkedPicker1Text(type='text' class='form-control datetimepicker-input'  name='demoDateTimeLinkedPicker1Text' placeholder='Start date' data-target='#demoDateTimeLinkedPicker1')
                                                            div(class='input-group-append' data-target='#demoDateTimeLinkedPicker1' data-toggle='datetimepicker')
                                                                span(class='input-group-text')
                                                                    i(class='ki ki-calendar')
                                                    div(class='col')
                                                        #demoDateTimeLinkedPicker2(class='input-group date' data-target-input='nearest')
                                                            input#demoDateTimeLinkedPicker2Text(type='text' class='form-control datetimepicker-input'  name='demoDateTimeLinkedPicker2Text'  placeholder='End date' data-target='#demoDateTimeLinkedPicker2')
                                                            div(class='input-group-append' data-target='#demoDateTimeLinkedPicker2' data-toggle='datetimepicker')
                                                                span(class='input-group-text')
                                                                    i(class='ki ki-calendar')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   


                                        // Date & Time : Date Only
                                        div(class='form-group row')
                                            label(class=' col-3 form-control-label ') Date Only
                                            div(class='col-4')
                                                div(class='input-group date')
                                                    input#demoDate(type='text' class='form-control' readonly='' name='demoDate' placeholder='Select date')
                                                    div(class='input-group-append')
                                                        span(class='input-group-text')
                                                            i(class='la la-calendar-check-o')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   
                                                                            
                                        // Date & Time : Date Range Picker1
                                        div(class='form-group row')
                                            label(class='  col-3') Date Range Picker1
                                            div(class='col-4')
                                                #demoDateRangePicker1(class='input-group')
                                                    input#demoDateRangePicker1Text(type='text' class='form-control' readonly='' name='demoDateRangePicker1Text' placeholder='Select date range')
                                                    div(class='input-group-append')
                                                        span(class='input-group-text')
                                                            i(class='la la-calendar-check-o')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   

                                        // Date & Time : Date Range Picker2
                                        div(class='form-group row')
                                            label(class='  col-3') Date Range Picker2
                                            div(class='col-6')
                                                #demoDateRangePicker2(class='input-daterange input-group')
                                                    input#demoDateRangePicker2Text(type='text' class='form-control' readonly=''  name='demoDateRangePicker2Text')
                                                    div(class='input-group-append')
                                                        span(class='input-group-text')
                                                            i(class='la la-ellipsis-h')
                                                    input(type='text' class='form-control' name='end')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   
                                        
                                        // Time : 24 Hour
                                        div(class='form-group row')
                                            label(class=' col-3 form-control-label ') 24 Hour Time
                                            div(class='col-4')
                                                div(class='input-group timepicker')
                                                    input#demoTime24Hr(class='form-control' readonly='' name='demoTime24Hr' placeholder='Select time' type='text')
                                                    div(class='input-group-append')
                                                        span(class='input-group-text')
                                                            i(class='la la-clock-o')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   
                                        // Time : 12 Hour
                                        div(class='form-group row')
                                            label(class=' col-3 form-control-label ') 12 Hour Time
                                            div(class='col-4')
                                                div(class='input-group timepicker')
                                                    input#demoTime12Hr(class='form-control' readonly='' name='demoTime12Hr'  placeholder='Select time' type='text')
                                                    div(class='input-group-prepend')
                                                        span(class='input-group-text')
                                                            i(class='la la-clock-o')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   
                                        
                                        div(class='separator separator-dashed my-10')
                                        h3(class=' text-dark font-weight-bold mb-10') Form Repeat

                                        //  
                                        // Form Repeat #1 : Single
                                        #demoFormRepeat1
                                            div(class='form-group row')
                                                label(class='col-3  ') Form Repeat #1 : Single
                                                div(data-repeater-list='group-a' class='col-6')
                                                    div(data-repeater-item='' class='mb-2')
                                                        div(class='input-group')
                                                            div(class='input-group-prepend')
                                                                span(class='input-group-text')
                                                                    i(class='la la-phone')
                                                            input#demoFormRepeat1Text(type='text' class='form-control' placeholder='Enter telephone' name='demoFormRepeat1Text')
                                                            div(class='input-group-append')
                                                                a(data-repeater-delete='',class='btn font-weight-bold btn-danger btn-icon')
                                                                    i(class='la la-close')
                                                            span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   

                                            div(class='form-group row')
                                                div(class='col-3')
                                                div(class='col')
                                                    div(data-repeater-create='' class='btn font-weight-bold btn-primary')
                                                        i(class='la la-plus')
                                                        | Add
                                            

                                        // Form Repeat #2 : Multiple
                                        #kt_repeater_1
                                            #kt_repeater_1(class='form-group row')
                                                label(class='col-3  ') Form Repeat #2 : Multiple
                                                div(data-repeater-list='', class='col-9')
                                                    div(data-repeater-item='', class='form-group row align-items-center')
                                                        div(class='col-md-3')
                                                            label Name:
                                                            input(type='email', class='form-control', placeholder='Enter full name')
                                                            div(class='d-md-none mb-2')
                                                        div(class='col-md-3')
                                                            label Number:
                                                            input(type='email', class='form-control', placeholder='Enter contact number')
                                                            div(class='d-md-none mb-2')
                                                        div(class='col-md-2')
                                                            div(class='radio-inline')
                                                                label(class='checkbox checkbox-success')
                                                                    input(type='checkbox')
                                                                    |  Primary
                                                                    span
                                                        div(class='col-md-3')
                                                            a( data-repeater-delete='', class='btn btn-sm font-weight-bolder btn-light-danger')
                                                                i(class='la la-trash-o')
                                                                | Delete
                                                        
                                                        span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   

                                            div(class='form-group row')
                                                label(class='col-3  ')
                                                div(class='col-4')
                                                    a( data-repeater-create='', class='btn btn-sm font-weight-bolder btn-light-primary')
                                                        i(class='la la-plus')
                                                        | Add

                                        // Form Repeat #3 : Multiple
                                        #kt_repeater_3
                                            div(class='form-group row')
                                                label(class='col-3  ') Form Repeat #3 : Multiple
                                                div(data-repeater-list='', class='col-9')
                                                    div(data-repeater-item='', class='form-group row')
                                                        div(class='col-5')
                                                            div(class='input-group')
                                                                div(class='input-group-prepend')
                                                                    span(class='input-group-text')
                                                                        i(class='la la-phone')
                                                                input(type='text', class='form-control', placeholder='Phone')
                                                        div(class='col-5')
                                                            div(class='input-group')
                                                                div(class='input-group-prepend')
                                                                    span(class='input-group-text')
                                                                        i(class='la la-envelope')
                                                                input(type='text', class='form-control', placeholder='Email')
                                                        div(class='col-2')
                                                            a( data-repeater-delete='', class='btn font-weight-bold btn-danger btn-icon')
                                                                i(class='la la-remove')

                                                        span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   

                                            div(class='form-group row')
                                                div(class='col-3')
                                                div(class='col')
                                                    div(data-repeater-create='', class='btn font-weight-bold btn-primary')
                                                        i(class='la la-plus')
                                                        |                             Add

                                        
                                        div(class='separator separator-dashed my-10')
                                        h3(class=' text-dark font-weight-bold mb-10') Others

                                        // Inline Check Box
                                        div(class='form-group row')
                                            label(class=' col-3 form-control-label ') Inline Checkboxes
                                            div(class='col-9 col-md-3')
                                                div(class='checkbox-inline')
                                                    label(class='checkbox')
                                                        input#demoCheckboxes1(type='checkbox' name='demoCheckboxes1')
                                                        span
                                                        | Option 1
                                                    label(class='checkbox')
                                                        input#demoCheckboxes2(type='checkbox' name='demoCheckboxes2')
                                                        span
                                                        | Option 2
                                                    label(class='checkbox')
                                                        input#demoCheckboxes3(type='checkbox' name='demoCheckboxes3')
                                                        span
                                                        | Option 3
                                                
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   

                                        // Inline Radio Buttons
                                        div(class='form-group row')
                                            label(class=' col-3 form-control-label ') Inline radios
                                            div(class='col-9')
                                                div(class='radio-inline')
                                                    label(class='radio')
                                                        input#demoRadios1(type='radio' name='demoRadios1')
                                                        span
                                                        |                                 Option 1
                                                    label(class='radio')
                                                        input#demoRadios2(type='radio' name='demoRadios1')
                                                        span
                                                        |                                 Option 2
                                                    label(class='radio')
                                                        input#demoRadios3(type='radio' name='demoRadios1')
                                                        span
                                                        |                                 Option 3
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   
                                        
                                        // Summernote WYSIWYG
                                        div(class='form-group row')
                                            label(class='  col-3') Summernote WYSIWYG
                                            div(class='col-9')
                                                div#demoEditor(class='summernote' name='demoEditor')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   


                                                //-
                                                    div(class='form-group row')
                                                        label(class='  col-3') Google reCaptcha
                                                        div(class='col-4')
                                                            div(class='g-recaptcha' data-sitekey='6LdnLwgUAAAAAAIb9L3PQlHQgvSCi16sYgbMIMFR')
                                                            div(class='form-text text-muted')
                                                                | To learn more about Google reCaptcha please visit 
                                                                a(class='link' href='http://www.google.com/recaptcha' target='_blank')
                                                                    | http://www.google.com/recaptcha
                                            //-           
                                                // Tags - remove duplicates
                                                div(class='form-group row')
                                                    label(class='  col-3') Tag Duplicates
                                                    div(class='col-6')
                                                        input#kt_tagify_1(class='form-control tagify' name='tags' placeholder='type...' value='css, html, javascript' autofocus='' data-blacklist='.NET,PHP')
                                                        div(class='mt-3')
                                                            a#kt_tagify_1_remove(href='javascript:;' class='btn btn-sm btn-light-primary font-weight-bold') Remove tags
                                                        div(class='mt-3 text-muted')
                                                            | In this example, the field is pre-occupied with 4 tags. The last tag (CSS) has the same value as the first tag, and will be removed,
                                                            | because the duplicates setting is set to true.
                                                // Tags - Whitelist
                                                div(class='form-group row')
                                                    label(class='  col-3') Whitelist examples
                                                    div(class='col-6')
                                                        input#kt_tagify_2(class='form-control tagify' placeholder='type...' value='Back to the Future, Whiplash' data-blacklist='.NET,PHP')
                                                        div(class='mt-3 text-muted')
                                                            | In this example, the field is pre-occupied with 3 tags, and last tag is not included in the whitelist, and will be removed because the enforce whitelist option flag is set to true
                                                // 

                                            
                            div(class='card-footer')
                                div(class='row  ')
                                    div(class='col-9 ml-lg-auto')
                                        button#submitButton(type='submit' class='btn btn-primary font-weight-bold mr-2') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
        // end::Entry



