extends ./../../base.pug

block css-files
    link(href='/css/pages/wizard/wizard-4.css' rel='stylesheet' type='text/css')

block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/contract/contractForm.js' )

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Contract Templates Form
                    div(class='card-body')
                        // begin::Form
                        form#createcontractTemplatesForm(class='form' )
                            div(class='row')
                                div(class='col-xl-2')
                                div(class='col-xl-8')
                                    div(class='my-5')

                                        //ctBillingType
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Billing Type
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctBillingType(type='text' class='form-control' name='ctBillingType' placeholder='Enter Billing Type')

                                        //ctValue
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Value
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctValue(type='text' class='form-control' name='ctValue' placeholder='Enter Value')

                                        //ctID
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Contract Owner ID
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#ctID(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='ctID' placeholder='')

                                        //ctURL
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Contract File Template URL
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctURL(type='text' class='form-control' name='ctURL' placeholder='')

                                        //ctIsRepeat
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Is Repeat
                                            div(class='col-4')
                                                span(class='switch switch-sm')
                                                    label
                                                        input#ctIsRepeat(type='checkbox' checked='checked' name='ctIsRepeat')
                                                        span

                                        //ctRepeatInterval
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Repeat Interval
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctRepeatInterval(type='text' class='form-control' name='ctRepeatInterval' placeholder='')

                                        //ctRepeatIntervalType
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Repeat Interval Type
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctRepeatIntervalType(type='text' class='form-control' name='ctRepeatIntervalType' placeholder='')

                                        //ctCurrentRepeatNo
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Current Repeat Number
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctCurrentRepeatNo(type='text' class='form-control' name='ctCurrentRepeatNo' placeholder='')

                                        //ctTotalRepeatNo
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Total Repeat No
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctTotalRepeatNo(type='text' class='form-control' name='ctTotalRepeatNo' placeholder='')

                                        //ctTotalRepeatAllowed
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Total Repeat Allowed
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctTotalRepeatAllowed(type='text' class='form-control' name='ctTotalRepeatAllowed' placeholder='')

                                        //ctValidity
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Validity
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctValidity(type='text' class='form-control' name='ctValidity' placeholder='')

                            div(class='card-footer')
                                div(class='row text-right')
                                    div(class='col-12 ml-lg-auto')
                                        button#ctFormSubmitButton(type='submit' class='btn btn-primary font-weight-bold mr-2') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
        // end::Entry
