extends ./../../base.pug

block css-files
    link(href='/css/pages/wizard/wizard-4.css' rel='stylesheet' type='text/css')

block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/contract/contractForm.js' )

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Contract Templates Form
                    div(class='card-body')
                        // begin::Form
                        form#createContractTemplatesForm(class='form' )
                            div(class='row')
                                div(class='col-xl-2')
                                div(class='col-xl-8')
                                    div(class='my-5')

                                        //ctbillingType
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Billing Type
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctbillingType(type='text' class='form-control' name='ctbillingType' placeholder='Enter Billing Type')

                                        //ctValue
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Value
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctValue(type='text' class='form-control' name='ctValue' placeholder='Enter Value')

                                        //ctcontractOwnerId
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Contract Owner ID
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#ctcontractOwnerId(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='ctcontractOwnerId' placeholder='')

                                        //ctcontractFileTemplateURL
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Contract File Template URL
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctcontractFileTemplateURL(type='text' class='form-control' name='ctcontractFileTemplateURL' placeholder='')

                                        //ctisRepeat
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Is Repeat
                                            div(class='col-4')
                                                span(class='switch switch-sm')
                                                    label
                                                        input#ctisRepeat(type='checkbox' checked='checked' name='ctisRepeat')
                                                        span

                                        //ctrepeatInterval
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Repeat Interval
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctrepeatInterval(type='text' class='form-control' name='ctrepeatInterval' placeholder='')

                                        //ctrepeatIntervalType
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Repeat Interval Type
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctrepeatIntervalType(type='text' class='form-control' name='ctrepeatIntervalType' placeholder='')

                                        //ctcurrentRepeatNumber
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Current Repeat Number
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctcurrentRepeatNumber(type='text' class='form-control' name='ctcurrentRepeatNumber' placeholder='')

                                        //cttotalRepeatNumber
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Total Repeat No
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#cttotalRepeatNumber(type='text' class='form-control' name='cttotalRepeatNumber' placeholder='')

                                        //cttotalRepeatAllowed
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Total Repeat Allowed
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#cttotalRepeatAllowed(type='text' class='form-control' name='cttotalRepeatAllowed' placeholder='')

                                        //ctvalidity
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Validity
                                                span(class='text-danger')  *
                                            div(class='col-4')
                                                input#ctvalidity(type='text' class='form-control' name='ctvalidity' placeholder='')

                                        h3(class=' text-dark font-weight-bold mb-10') Tax

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') HSNCode
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#ctHSNCode(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='ctHSNCode' placeholder='')
                                                    span(class='form-text text-muted')  Enter the HSNCode of entered Size

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') CGSTRate:
                                            div(class='col-4')
                                                input#ctCGSTRate(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='ctCGSTRate' placeholder='40')
                                                span(class='form-text text-muted')
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') SGSTRate
                                            div(class='col-4')
                                                input#ctSGSTRate(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='ctSGSTRate' placeholder='40')
                                                span(class='form-text text-muted')
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right')  IGSTRate 
                                            div(class='col-4')
                                                input#ctIGSTRate(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='ctIGSTRate' placeholder='40')
                                                span(class='form-text text-muted')

                                        h3(class=' text-dark font-weight-bold mb-10') additionalAttributesIds

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Name
                                                span(class='text-danger')  *                                            
                                            div(class='col-6')
                                                input#ctName(type='text' class='form-control' name='ctName' placeholder='ex. Sai Vignesh')
                                                
                            div(class='card-footer')
                                div(class='row text-right')
                                    div(class='col-12 ml-lg-auto')
                                        button#ctFormSubmitButton(type='submit' class='btn btn-primary font-weight-bold mr-2') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
        // end::Entry
