extends ./../../base.pug

block css-files

block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/ecommerce/ecommerceOrderForm.js' )
    

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Ecommerce Order
                    div(class='card-body')
                        // begin::Form
                        form#createEcommerceOrderForm(class='form')
                            div(class='row')
                                div(class='col-xl-2')
                                div(class='col-xl-8')
                                    div(class='my-5') 

                                        h3(class=' text-dark font-weight-bold mb-10') General

                                        //eoNumItems
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') No of Items
                                            div(class='col-5')
                                                input#eoNumItems(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='eoNumItems' placeholder='')

                                        //eoGrossTotal
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Total
                                            div(class='col-5')
                                                input#eoGrossTotal(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='eoGrossTotal' placeholder='')

                                        //eoTaxTotal
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Tax Total
                                            div(class='col-5')
                                                input#eoTaxTotal(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='eoTaxTotal' placeholder='')

                                        //eoShippingCharges
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Shipping Charges
                                            div(class='col-5')
                                                input#eoShippingCharges(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='eoShippingCharges' placeholder='')

                                        //eoInsurance
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Insurance Charges
                                            div(class='col-5')
                                                input#eoInsurance(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='eoInsurance' placeholder='')

                                        //eoNetTotal
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Net Total
                                            div(class='col-5')
                                                input#eoNetTotal(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='eoNetTotal' placeholder='')
                                        
                                        //eoStatus
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Status
                                            div(class='col-5')
                                                input#eoStatus(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='eoStatus' placeholder='')

                                        //eoUserID
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') User ID
                                            div(class='col-6')
                                                div(class='typeahead')
                                                    input#eoUserID(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='eoUserID' placeholder='')

                            div(class='card-footer')
                                div(class='row text-right')
                                    div(class='col-12 ml-lg-auto')
                                        button#createEcommerceOrderFormSubmitButton(type='submit' class='btn btn-primary font-weight-bold mr-2') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
        // end::Entry
