extends ./../../base.pug

block css-files

block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/rating/ratingForm.js' )
    

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Rating Attribute Form
                    div(class='card-body')
                        // begin::Form
                        form#createRatingAttributeForm(class='form')
                            div(class='row')
                                div(class='col-xl-2')
                                div(class='col-xl-8')
                                    div(class='my-5')  
                                        h3(class=' text-dark font-weight-bold mb-10') General
                                        // Name
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Name
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#raName(type='text' class='form-control' name='raName' placeholder='ex. Vignesh')
                                                span(class='form-text text-muted') Enter your name

                                        // raType
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Type
                                            div(class=' col-4')
                                                select#raType(class='form-control select2' name='raType')
                                                    option(value='AK') Alaska
                                                    option(value='HI') Hawaii
                                                    option(value='CA') California
                                                    option(value='NV') Nevada
                                                    option(value='OR') Oregon
                                                    option(value='WA') Washington
                                                    option(value='AZ') Arizona
                                                    option(value='CO') Colorado
                                                    option(value='ID') Idaho
                                                    option(value='MT') Montana
                                                    option(value='NE') Nebraska
                                                span(class='form-text text-muted') Enter the type

                                        // raDescription
                                        div(class='form-group row mb-1')
                                            label(class='col-3 col-form-label form-control-label text-right' for='raDescription')
                                                | Desscription
                                                span(class='text-danger') *
                                            div(class='col-9 ')
                                                textarea#raDescription(class='form-control' name='raDescription' rows='3')
                                                span(class='form-text text-muted') description

                                        // raNotes
                                        div(class='form-group row mb-1')
                                            label(class='col-3 col-form-label form-control-label text-right' for='raNotes')
                                                | Notes
                                                span(class='text-danger') *
                                            div(class='col-9 ')
                                                textarea#raNotes(class='form-control' name='raNotes' rows='3')
                                                span(class='form-text text-muted') Enter your notes
                            div(class='card-footer')
                                div(class='row text-right')
                                    div(class='col-12 ml-lg-auto')
                                        button#ratingAttributeFormSubmitButton(type='submit' class='btn btn-primary font-weight-bold mr-2') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
        // end::Entry


