extends ./../../base.pug

block css-files
    link(href='/css/pages/wizard/wizard-4.css' rel='stylesheet' type='text/css')

block js-files
    script(src='/js/KTAppSettings.js')
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/example/exampleFormControls.js')

block content    
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Rating Attribute Groups Form
                    div(class='card-body')
                        // begin::Form
                        form#form_ratingAttributeGroups(class='form' action='http://localhost:3000/api/v1/ratingAttributeGroups')
                            div(class='row')
                                div(class='col-xl-2')
                                div(class='col-xl-8')
                                    div(class='my-5')
                                        h3(class=' text-dark font-weight-bold mb-10') Section1
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Name
                                                span(class='text-danger')
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='name' placeholder='Enter your name')
                                                span(class='form-text text-muted')
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') AttributeId
                                                span(class='text-danger')
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='name' placeholder='Enter your Id')
                                                span(class='form-text text-muted')
                                        div(class='form-group row')
                                            label(class='col-3' for='statusSelect')
                                                | Status
                                            div(class='col-9')
                                                select#exampleSelect1(class='form-control')
                                                    option Active
                                                    option Suspended
                                                    option Deleted
                                                    option Hold
                                                    option Publish
                                        div(class='form-group row mb-1')
                                            label(class='col-3' for='messageTextArea')
                                                | Description
                                            div(class='col-9')
                                                textarea#messageTextArea(class='form-control' rows='3')
                            div(class='card-footer text-right')
                                div(class='row')
                                    div(class='col-lg-9 ml-lg-auto')
                                        button(type='submit' class='btn btn-primary font-weight-bold mr-2' name='submitButton') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
        // end::Entry   
