extends ./../../base.pug

block css-files
   
block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/sales-finance/sales-financeForm.js')

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title') Address Form
                    div(class='card-body')
                        // begin::Form
                        form#createAddressForm(class='form')
                            div(class='row')
                                div(class='col-md-1')
                                div(class='col-xl-6')
                                    div(class='my-5')

                                        // adAddress
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Address
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#adAddress(type='text' class='form-control' name='adAddress' placeholder='Enter Address')

                                        // adCity
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') City
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#adCity(type='text' class='form-control' name='adCity' placeholder='Enter City')

                                        // adState
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') State
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#adState(type='text' class='form-control' name='adState' placeholder='Enter State')

                                        // adCountry
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Country
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#adCountry(type='text' class='form-control' name='adCountry' placeholder='Enter Country')

                                        // adPincode
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Pincode
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#adPincode(type='text' class='form-control' name='adPincode' placeholder='Enter PinCode')

                            div(class='card-footer')
                                div(class='row text-right')
                                    div(class='col-12 ml-lg-auto')
                                        button#adFormSubmitButton(type='submit' class='btn btn-primary font-weight-bold mr-2') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
        // end::Entry
