extends ./../../base.pug

block css-files
   
block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/sales-finance/sales-financeForm.js')

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title') Packing List
                    div(class='card-body')
                        // begin::Form
                        form#createPackingListForm(class='form')
                            div(class='row')
                                div(class='col-md-1')
                                div(class='col-xl-6')
                                    div(class='my-5')

                                        //plPackingListNo
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Packing List Number
                                            div(class='col-4')
                                                input#plPackingListNo(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='plPackingListNo' placeholder='')

                                        //plTaxInvoiceNo
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Tax Invoice Number
                                            div(class='col-4')
                                                input#plTaxInvoiceNo(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='plTaxInvoiceNo' placeholder='')

                                        //Source
                                        h3(class=' text-dark font-weight-bold mb-10') Source

                                        //plSource
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Source
                                                span(class='text-danger')  
                                            div(class='col-5')
                                                input#plSource(type='text' class='form-control' name='plSource' placeholder='Enter Source')

                                        //plSourceAddress
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Source Address
                                            div(class='col-6')
                                                div(class='typeahead')
                                                    input#plourceAddress(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='plSourceAddress' placeholder='')

                                        //plSourceEmail
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Source Email
                                                span(class='text-danger')  
                                            div(class='col-6')
                                                input#plSourceEmail(type='text' class='form-control' name='plSourceEmail' placeholder='Enter Email')

                                        //plSourceContact
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Source Contact Number
                                                span(class='text-danger')  
                                            div(class='col-5')
                                                input#plSourceContact(type='text' class='form-control' name='plSourceContact' placeholder='Enter Contact Number')

                                        //plSourceGST
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Source GST
                                                span(class='text-danger')  
                                            div(class='col-4')
                                                input#plSourceGST(type='text' class='form-control' name='plSourceGST' placeholder='')

                                        //Cosignee
                                        h3(class=' text-dark font-weight-bold mb-10') Cosignee

                                        //plCosignee
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Cosignee
                                                span(class='text-danger')  
                                            div(class='col-6')
                                                input#plCosignee(type='text' class='form-control' name='plCosignee' placeholder='')

                                        //plCosigneeAddress
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Cosignee Address
                                            div(class='col-6')
                                                div(class='typeahead')
                                                    input#plCosigneeAddress(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='plCosigneeAddress' placeholder='')

                                        //plCosigneeEmail
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Cosignee Email
                                                span(class='text-danger')  
                                            div(class='col-6')
                                                input#plCosigneeEmail(type='text' class='form-control' name='plCosigneeEmail' placeholder='Enter Email')

                                        //plCosigneeContact
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Cosignee Contact Number
                                                span(class='text-danger')  
                                            div(class='col-6')
                                                input#plCosigneeContact(type='text' class='form-control' name='plCosigneeContact' placeholder='Enter Contact Number')

                                        //plCosigneeGST
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Cosignee GST 
                                                span(class='text-danger')  
                                            div(class='col-4')
                                                input#plCosigneeGST(type='text' class='form-control' name='plCosigneeGST' placeholder='')

                            div(class='card-footer')
                                div(class='row text-right')
                                    div(class='col-12 ml-lg-auto')
                                        button#plFormSubmitButton(type='submit' class='btn btn-primary font-weight-bold mr-2') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
        // end::Entry

                                                        

