extends ./../../base.pug

block css-files

block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/directory/directoryForm.js' )
    

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Directory Entries Form
                    div(class='card-body')
                        // begin::Form
                        form#createDirectoryEntriesForm(class='form')
                            div(class='row')
                                div(class='col-xl-2')
                                div(class='col-xl-8')
                                    div(class='my-5')  
                                        h3(class=' text-dark font-weight-bold mb-10') General

                                        // deAuthor
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Author
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#deAuthor(type='text' class='form-control' name='deAuthor' placeholder='ex. Vignesh')
                                                span(class='form-text text-muted') Enter the author

                                        //deDate
                                        div(class = 'form-group row')
                                            label(class = 'col-3 col-form-label form-control-label text-right') Date
                                                span(class='text-danger')
                                            div(class='col-4')
                                                input#deDate(type='text' class='form-control' name='deDate' placeholder='Select Date')

                                        //deImage
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Image 
                                            div(class='col-4')
                                                select#deImage(class='form-control selectpicker' multiple=''  data-live-search='true' name='deImage')
                                                    //option(value='' disabled='' selected='') Choose country
                                                    option Image 1
                                                    option Image 2
                                                    option Image 3
                                                span(class='form-text text-muted')