extends ./../../base.pug

block css-files
    link(href='/css/pages/wizard/wizard-4.css' rel='stylesheet' type='text/css')

block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/event/eventForm.js' )
    

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | event Form
                    div(class='card-body')
                        // begin::Form
                        form#createEventEntriesForm(class='form' )
                            div(class='row')
                                div(class='col-xl-2')
                                div(class='col-xl-8')
                                    div(class='my-5')  

                                        // eePriority
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Priority
                                            div(class='col-4')
                                                input#eePriority(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='eePriority' placeholder='1')

                                        // eeExpires
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Expires In
                                                span(class='text-danger')  *
                                            div(class=' col-4')
                                                select#eeExpires(class='form-control select2' name='eeExpires')
                                                    option(value='1d') Daily
                                                    option(value='7d') Weekly
                                                    option(value='30d') Monthly
                                                    option(value='1y') Yearly
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                                        // eeType
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Type
                                            div(class=' col-4')
                                                select#eeType(class='form-control select2' name='eeType')
                                                    option(value='AK') Alaska
                                                    option(value='HI') Hawaii
                                                    option(value='CA') California
                                                    option(value='NV') Nevada
                                                    option(value='OR') Oregon
                                                    option(value='WA') Washington
                                                    option(value='AZ') Arizona
                                                    option(value='CO') Colorado
                                                    option(value='ID') Idaho
                                                    option(value='MT') Montana
                                                    option(value='NE') Nebraska
                                                    option(value='NM') New Mexico
                                                    option(value='ND') North Dakota
                                                    option(value='UT') Utah
                                                    option(value='WY') Wyoming
                                                    option(value='AL') Alabama
                                                    option(value='AR') Arkansas
                                                    option(value='IL') Illinois
                                                    option(value='IA') Iowa
                                                    option(value='KS') Kansas
                                                    option(value='KY') Kentucky
                                                    option(value='LA') Louisiana
                                                    option(value='MN') Minnesota
                                                    option(value='MS') Mississippi
                                                    option(value='MO') Missouri
                                                    option(value='OK') Oklahoma
                                                    option(value='SD') South Dakota
                                                    option(value='TX') Texas
                                                    option(value='TN') Tennessee
                                                    option(value='WI') Wisconsin
                                                    option(value='CT') Connecticut
                                                    option(value='DE') Delaware
                                                    option(value='FL') Florida
                                                    option(value='GA') Georgia
                                                    option(value='IN') Indiana
                                                    option(value='ME') Maine
                                                    option(value='MD') Maryland
                                                    option(value='MA') Massachusetts
                                                    option(value='MI') Michigan
                                                    option(value='NH') New Hampshire
                                                    option(value='NJ') New Jersey
                                                    option(value='NY') New York
                                                    option(value='NC') North Carolina
                                                    option(value='OH') Ohio
                                                    option(value='PA') Pennsylvania
                                                    option(value='RI') Rhode Island
                                                    option(value='SC') South Carolina
                                                    option(value='VT') Vermont
                                                    option(value='VA') Virginia
                                                    option(value='WV') West Virginia
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                                        h3(class=' text-dark font-weight-bold mb-10') Meta
                                        div(class='form-group row')

                                        // eeBoundary
                                        div(class='form-group row mb-6')
                                            label(class='col-3 col-form-label form-control-label text-right') boundary
                                            div(class='col-6 ')
                                                div(class='row align-items-center')
                                                    div(class='col-4')
                                                        input#eeBoundaryTxt(type='text' class='form-control' name='eeBoundaryTxt' placeholder='Quantity')
                                                    div(class='col-8')
                                                        #eeBoundarySlider(class='nouislider-drag-danger')
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.

                            div(class='card-footer text-right')
                                div(class='row')
                                    div(class='col-lg-9 ml-lg-auto')
                                        button#eeFormSubmitButton(type='submit' class='btn btn-primary font-weight-bold mr-2') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
    // end::Entry
