extends ./../../base.pug

block css-files
    link(href='/css/pages/wizard/wizard-4.css' rel='stylesheet' type='text/css')

block js-files
    script(src='/js/KTAppSettings.js')
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/example/exampleFormControls.js')

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Event Entries Form
                    div(class='card-body')
                        // begin::Form
                        form#form_announcementEntries(class='form')
                            div(class='row')
                                div(class='col-xl-2')
                                div(class='col-xl-8')
                                    div(class='my-5')
                                        h3(class=' text-dark font-weight-bold mb-10') General
                                        div(class='form-group row')
                                            label(class='col-3' for='statusSelect')
                                                | Status
                                            div(class='col-9')
                                                select#exampleSelect2(class='form-control')
                                                    option Active
                                                    option Suspended
                                                    option Deleted
                                                    option Hold
                                                    option Publish
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Priority
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='priority' placeholder='ex. 6')
                                                span(class='form-text text-muted') priortizing before sending emails to target.
                                        div(class='form-group row')
                                            label(class='col-3' for='expiresSelect')
                                                | Expires In
                                            div(class='col-9')
                                                select#exampleSelect1(class='form-control')
                                                    option 1
                                                    option 2
                                                    option 3
                                                    option 4
                                                    option 5
                                        div(class='form-group row')
                                            label(class='col-3' for='statusSelect')
                                                | Type
                                            div(class='col-9')
                                                select#exampleSelect2(class='form-control')
                                                    option Active
                                                    option Suspended
                                                    option Deleted
                                                    option Hold
                                                    option Publish
                                        div(class='form-group row')
                                            label(class='col-form-label text-right col-lg-3 col-sm-12') location
                                            div(class='col-lg-4 col-md-9 col-sm-12')
                                                div(class='typeahead')
                                                    input#kt_typeahead_2(class='form-control' type='text' dir='ltr' placeholder='States of India')