extends ./../base.pug

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../partials/_subheader/subheader-v1.pug
        h1 Welcome to Overview Page