extends ./../../base.pug

block css-files

block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/forms/formsForm.js' )
    

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Form    
                    div(class='card-body')
                        // begin::Form
                        form#createFormsForm(class='form')
                            div(class='row')
                                div(class='col-xl-2')
                                div(class='col-xl-8')
                                    div(class='my-5')  
                                        
                                        h3(class=' text-dark font-weight-bold mb-10') General
                                        
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Name
                                                span(class='text-danger')  *                                            
                                            div(class='col-6')
                                                input#fName(type='text' class='form-control' name='fName' placeholder='ex. Sai Vignesh')
                                        
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Owner ID
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#fOwnerId(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='fOwnerId' placeholder='ex. 5fa92064cff6f652644266de')
                                                    span(class='form-text text-muted') Should be as mentioned.
                                        
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Alive Till
                                            div(class='col-9 col-md-3')
                                                div(class='input-group date')
                                                    input#fAliveTill(type='text' class='form-control' readonly='' name = 'fAliveTill' placeholder='Select date')
                                                    div(class='input-group-append')
                                                        span(class='input-group-text')
                                                            i(class='la la-calendar-check-o')
                                                span(class='form-text text-muted') 
                                        
                                        div(class='form-group row')
                                            label(class=' col-3 col-form-label form-control-label text-right ') Account Include 
                                            div(class='col-4')
                                                select#fAccountInclude(class='form-control selectpicker' multiple=''  data-live-search='true' name='fAccountInclude')
                                                    //option(value='' disabled='' selected='') Choose country
                                                    option Account 1
                                                    option Account 2
                                                    option Account 3
                                                span(class='form-text text-muted') 
                                        
                                        div(class='form-group row')
                                            label(class=' col-3 col-form-label form-control-label text-right ') Account Exclude 
                                            div(class='col-4')
                                                select#fAccountExclude(class='form-control selectpicker' multiple=''  data-live-search='true' name='fAccountExclude')
                                                    //option(value='' disabled='' selected='') Choose country
                                                    option Account 1
                                                    option Account 2
                                                    option Account 3
                                                span(class='form-text text-muted')             

                            div(class='card-footer')
                                div(class='row  text-right')
                                    div(class='col-lg-9 ml-lg-auto')
                                        button#createFormsFormSubmitButton(type='submit' class='btn btn-primary font-weight-bold mr-2') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
        // end::Entry
                                                                                         