extends ./../../base.pug

block css-files

block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/analytics/analyticsForm.js' )
    

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Analytics  Form
                    div(class='card-body')
                        // begin::Form
                        form#form_analytics(class='form' )
                            div(class='row')
                                div(class='col-md-1')
                                div(class='col-xl-8')
                                    div(class='my-5')  

                                        h3(class=' text-dark font-weight-bold mb-10') General

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Name
                                                span(class='text-danger')  *                                            
                                            div(class='col-6')
                                                input#aName(type='text' class='form-control' name='aName' placeholder='ex. Sai Vignesh')
                                        
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') State
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#aState(class='form-control' type='text' dir='ltr' name='aState' placeholder='States of India')
                                                    span(class='form-text text-muted') States From India Only

                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Owner ID
                                            div(class='col-6')
                                                input#aOwnerId(type='text' class='form-control' name='aOwnerId' placeholder='ex. 5fa92064cff6f652644266de  ')
                                        
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Reporter ID
                                            div(class='col-6')
                                                input#aReporterId(type='text' class='form-control' name='aReporterId' placeholder='ex. 5fa92064cff6f652644266de  ')

                            div(class='card-footer')
                                div(class='row  text-right')
                                    div(class='col-lg-9 ml-lg-auto')
                                        button#submitButton(type='submit' class='btn btn-primary font-weight-bold mr-2') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
        // end::Entry

                         
                                                                  