extends ./../../base.pug

block css-files

block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/project-management/milestoneForm.js' )
    

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Milestone Form
                    div(class='card-body')
                        // begin::Form
                        form#createMilestoneForm(class='form')
                            div(class='row')
                                div(class='col-xl-2')
                                div(class='col-xl-8')
                                    div(class='my-5') 

                                        h3(class=' text-dark font-weight-bold mb-10') General

                                        //mName
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Name
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#mName(type='text' class='form-control' name='mName' placeholder='Enter Name')

                                        //mDescription
                                        div(class='form-group row mb-1')
                                            label(class='col-3 col-form-label form-control-label text-right' for='mDescription')
                                                | Description
                                            div(class='col-9 ')
                                                textarea#mDescription(class='form-control' name='mDescription' rows='3')
                                                span(class='form-text text-muted')

                                        //mDescriptionVisible
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Description Visible
                                            div(class='col-4')
                                                span(class='switch switch-sm')
                                                    label
                                                        input#mDescriptionVisible(type='checkbox' checked='checked' name='select')
                                                        span
                                                span(class='form-text text-muted')

                                        //mDueDate
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Due date
                                            div(class='col-4')
                                                div(class='input-group date')
                                                    input#mDueDate(type='text' class='form-control' readonly='' name='mDueDate' placeholder='Select Due date')
                                                    div(class='input-group-append')
                                                        span(class='input-group-text')
                                                            i(class='la la-calendar-check-o')
                                                span(class='form-text text-muted')

                                        //mProjectId
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Project ID
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#mProjectId(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='mProjectId' placeholder='ex. 5fa92064cff6f652644266de')
                                                    span(class='form-text text-muted') Should be as mentioned.

                                        //mcolor
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') color
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#mcolor(type='text' class='form-control' name='mcolor' placeholder='ex. red')
                                                span(class='form-text text-muted') Enter the color

                                        //mMilestoneOrder
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Milestone Order
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#mMilestoneOrder(type='text' class='form-control' name='mMilestoneOrder' placeholder='')
                                                span(class='form-text text-muted')

                                        //mDatecreated
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Date created
                                            div(class='col-4')
                                                div(class='input-group date')
                                                    input#mDatecreated(type='text' class='form-control' readonly='' name='mDatecreated' placeholder='Select Date')
                                                    div(class='input-group-append')
                                                        span(class='input-group-text')
                                                            i(class='la la-calendar-check-o') Enter the Date 
                                                span(class='form-text text-muted')

                            div(class='card-footer')
                                div(class='row  text-right')
                                    div(class='col-lg-9 ml-lg-auto')
                                        button#createMilestoneFormSubmitButton(type='submit' class='btn btn-primary font-weight-bold mr-2') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
        // end::Entry
