extends ./../../base.pug

block css-files
   
block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/announcement/announcementForm.js')

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title') Announcement Notification
                    div(class='card-body')
                        // begin::Form
                        form#createAnnouncementNotifyForm(class='form')
                            div(class='row')
                                div(class='col-md-1')
                                div(class='col-xl-6')
                                    div(class='my-5')
                                        
                                        //anID
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Announcement ID
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#anID(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='anID' placeholder='')

                                        // anPriority
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Priority
                                            div(class='col-4')
                                                input#anPriority(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='anPriority' placeholder='1')

                                        // anRecipient
                                        h3(class=' text-dark font-weight-bold mb-10') Recipient

                                        //anRecipientID
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Recipient ID
                                            div(class='col-4')
                                                div(class='typeahead')
                                                    input#anRecipientID(class='form-control', type='text', dir="<?php echo isset( $_REQUEST['rtl'] ) && $_REQUEST['rtl'] ? 'rtl' : 'ltr' ?>",  name='anRecipientID' placeholder='')


                                        //anName
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Name
                                                span(class='text-danger')  *
                                            div(class='col-6')
                                                input#anName(type='text' class='form-control' name='anName' placeholder='Enter Name')


                                        // anEmail  
                                        div(class='form-group row')
                                            label(class=' col-3 col-form-label form-control-label text-right ') Email
                                            div(class='col-5')
                                                select#anEmail(class='form-control selectpicker' multiple=''  data-live-search='true' name='anEmail' )
                                                    option alexrider@gmail.com
                                                    option percyjackson@gmail.com
                                                    option jupiterjones@gmail.com
                                                span(class='form-text text-muted') Select Email                                   

                                        // anIsEmailSent
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label form-control-label text-right') Email Sent ?
                                            div(class='col-4')
                                                span(class='switch switch-sm')
                                                    label
                                                        input#anIsEmailSent(type='checkbox' checked='checked' name='anIsEmailSent')
                                                        span

                            div(class='card-footer')
                                div(class='row  text-right')
                                    div(class='col-12 ml-lg-auto')
                                        button#anFormSubmitButton(type='submit' class='btn btn-primary font-weight-bold mr-2') Create
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel