extends ./../../base.pug

block css-files
    link(href='/css/pages/wizard/wizard-4.css' rel='stylesheet' type='text/css')

block js-files
    script(src='/js/KTAppSettings.js')
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/example/exampleFormControls.js')

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Announcement Entries Form
                    div(class='card-body')
                        // begin::Form
                        form#form_announcementEntries(class='form' action='http://localhost:3000/api/v1/announcement-entries')
                            div(class='row')
                                div(class='col-xl-2')
                                div(class='col-xl-8')
                                    div(class='my-5')
                                        h3(class=' text-dark font-weight-bold mb-10') General
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Title
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='title' placeholder='ex. Important Announcement')
                                        div(class='form-group row mb-1')
                                            label(class='col-3' for='messageTextArea')
                                                | Message 
                                            div(class='col-9')
                                                textarea#messageTextArea(class='form-control' rows='3')
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') From
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='from' placeholder='ex. Administrator')
                                        div(class='form-group row')
                                            label(class='col-3 col-form-label') Is Email Required
                                            div(class='col-9')
                                                span(class='switch switch-sm')
                                                    label
                                                        input(type='checkbox' checked='checked' name='isEmailReq')
                                                        span
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Priority
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='priority' placeholder='ex. 6')
                                                span(class='form-text text-muted') priortizing before sending emails to target.
                                        h3(class=' text-dark font-weight-bold mb-10') Target Conditions
                                        div(class='form-group row')
                                            label(class='col-3 form-control-label') Condition
                                            div(class='col-9')
                                                input(type='text' class='form-control' name='targetConditions-condition' placeholder='ex. Define your own condition')
                                        div(class='form-group row')
                                            label(class='col-3' for='expiresSelect')
                                                | Expires In
                                            div(class='col-9')
                                                select#exampleSelect1(class='form-control')
                                                    option 1
                                                    option 2
                                                    option 3
                                                    option 4
                                                    option 5
                                        div(class='form-group row')
                                            label(class='col-3' for='statusSelect')
                                                | Status
                                            div(class='col-9')
                                                select#exampleSelect1(class='form-control')
                                                    option Active
                                                    option Suspended
                                                    option Deleted
                                                    option Hold
                                                    option Publish
                            div(class='card-footer text-right')
                                div(class='row')
                                    div(class='col-lg-9 ml-lg-auto')
                                        button(type='submit' class='btn btn-primary font-weight-bold mr-2' name='submitButton') Submit
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel
                        // end::Form
                // end::Card
            // end::Container
        // end::Entry
