extends ./../../base.pug

block css-files

block js-files
    script(src='/plugins/global/axios/axios.min.js')
    script(src='/js/pages/crud/myForm/announcement/announcementForm.js' )

block content
    #kt_content(class='content d-flex flex-column flex-column-fluid')
        include ./../../partials/_subheader/subheader-v1.pug
        // begin::Entry
        div(class='d-flex flex-column-fluid')
            // begin::Container
            div(class='container')
                // begin::Card
                div(class='card card-custom')
                    div(class='card-header')
                        h3(class='card-title')
                            | Add New : Announcement Entries
                    div(class='card-body')
                        // begin::Form
                        form#createAnnouncementEntriesForm(class='form')
                            div(class='row')
                                div(class='col-xl-2')
                                div(class='col-xl-8')
                                    div(class='my-5')
                                        // aeTitle
                                        div(class='form-group row')
                                            label(class='col-form-label col-lg-3 col-sm-12 form-control-label text-right') Title
                                                span(class='text-danger')  *
                                            div(class='col-lg-6 col-md-9 col-sm-12')
                                                input#aeTitle(type='text' class='form-control' name='aeTitle' placeholder='Hello World!')

                                        // aeFrom
                                        div(class='form-group row')
                                            label(class='col-form-label col-lg-3 col-sm-12 form-control-label text-right') From
                                                span(class='text-danger')  *
                                            div(class='col-lg-6 col-md-9 col-sm-12')
                                                input#aeFrom(type='text' class='form-control' name='aeFrom' placeholder='andrewk@gmail.com')
                                                span(class='form-text text-muted') Provide Email Address from which you are going to send. 

                                        // aeIsEmailReq
                                        div(class='form-group row')
                                            label(class='col-form-label col-lg-3 col-sm-12 form-control-label text-right') Email Required ?
                                            div(class='col-lg-4 col-md-9 col-sm-12')
                                                span(class='switch switch-sm')
                                                    label
                                                        input#aeIsEmailReq(type='checkbox' checked='checked' name='aeIsEmailReq')
                                                        span

                                        // aeExpires
                                        div(class='form-group row')
                                            label(class='col-form-label text-right col-lg-3 col-sm-12') Expires In
                                                span(class='text-danger')  *
                                            div(class=' col-lg-4 col-md-9 col-sm-12')
                                                select#aeExpires(class='form-control select2' name='aeExpires')
                                                    option(value='1d') Daily
                                                    option(value='7d') Weekly
                                                    option(value='30d') Monthly
                                                    option(value='1y') Yearly
                                                span(class='form-text text-muted') Lorem Ipsum is simply dummy text of the printing and typesetting industry.                                   

                                        // aePriority
                                        div(class='form-group row')
                                            label(class='col-form-label col-lg-3 col-sm-12 form-control-label text-right') Priority
                                            div(class='col-lg-4 col-md-9 col-sm-12')
                                                input#aePriority(type='text' class='form-control bootstrap-touchspin-vertical-btn' value='' name='aePriority' placeholder='1')
                                        

                                        // demoEditor
                                        div(class='form-group row')
                                            label(class='col-form-label text-right col-lg-3 col-sm-12') Message
                                            div(class='col-lg-9 col-md-9 col-sm-12')
                                                div#demoEditor(class='summernote' name='demoEditor')
                                                span(class='form-text text-muted') Add message that you wish to send.                                   
                                        div(class='separator separator-dashed my-10')
                                        h3(class=' text-dark font-weight-bold mb-10') Target Conditions

                            div(class='card-footer')
                                div(class='row  text-right')
                                    div(class='col-lg-9 ml-lg-auto')
                                        button#announcementEntriesFormSubmit(type='submit' class='btn btn-primary font-weight-bold mr-2') Create
                                        button(type='reset' class='btn btn-light-primary font-weight-bold') Cancel